/* ~~~~~~~~~~~~~~~~~~~~~ RESET CSS ~~~~~~~~~~~~~~~~~~~~~ */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p,
abbr, address,
em, img, strong, sub, sup, b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
body {line-height:1.75;}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}
nav ul {list-style:none;}
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    text-decoration: none;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
input, select {vertical-align:middle;}
/* ~~~~~~~~~~~~~~~~~~~~~ END RESET CSS ~~~~~~~~~~~~~~~~~~~~~ */


/* ~~~~~~~~~~~~~~~~~~~~~ GLOBAL STYLE ~~~~~~~~~~~~~~~~~~~~~ */
@font-face {
  font-family: 'Circe';
  src: url('../f/circe-r.eot');
  src: url('../f/circe-r.woff2') format('woff2'),
       url('../f/circe-r.woff') format('woff'),
       url('../f/circe-r.ttf') format('truetype'),
       url('../f/circe-r.eot?#iefix') format('embedded-opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Circe';
  src: url('../f/circe-b.eot');
  src: url('../f/circe-b.woff2') format('woff2'),
       url('../f/circe-b.woff') format('woff'),
       url('../f/circe-b.ttf') format('truetype'),
       url('../f/circe-b.eot?#iefix') format('embedded-opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Circe Rounded';
  src: url('../f/circerounded-r.eot');
  src: url('../f/circerounded-r.woff2') format('woff2'),
       url('../f/circerounded-r.woff') format('woff'),
       url('../f/circerounded-r.ttf') format('truetype'),
       url('../f/circerounded-r.eot?#iefix') format('embedded-opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Circe Rounded';
  src: url('../f/circerounded-alt-b.eot');
  src: url('../f/circerounded-alt-b.woff2') format('woff2'),
       url('../f/circerounded-rcircerounded-alt-b.woff') format('woff'),
       url('../f/circerounded-alt-b.ttf') format('truetype'),
       url('../f/circerounded-alt-b.eot?#iefix') format('embedded-opentype');
   font-weight: 700;
   font-style: normal;
}

body {
    font: 400 18px 'Circe', sans-serif;
    color: #000;
    -webkit-font-smoothing: antialiased;
}
img {width:100%}
.grid{display: grid;}
.f0 {background: #f0f0f0}
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

h1,h2,h3 {font-family:'Circe Rounded', sans-serif; font-weight: 400;}
b, strong {font-weight: 700;}
input, button, textarea {outline: 0;}

/* ~~~~~~~~~~~~~~~~~~~~~ END GLOBAL STYLE ~~~~~~~~~~~~~~~~~~~~~ */

/* Top Menu Desktop */
#dsk-top-menu {
    font-family:'Circe Rounded', sans-serif;
    display: grid;
    position: fixed;
    width: 100%;
    grid-template-columns: auto 1fr auto auto;
    grid-template-rows: 60px;
    white-space: nowrap;
    transition: background-color .2s ease-in-out;
    z-index: 10;
}

#dsk-top-menu .logo {
    width: 137px;
    padding: 10px 40px;
}
#dsk-top-menu .logo:hover {
    opacity: 0.7;
    transition: all .2s ease-in-out;
}
#dsk-top-menu .logo:active {opacity: 0.5}

#dsk-top-menu nav {
    justify-self: end;
    line-height: 60px;
    font-weight:700;
    letter-spacing: -0.5px;
    font-size: 90%;
}
#dsk-top-menu nav ul li {
    text-align: right;
    display: inline;
    padding: 0 10px;
}
#dsk-top-menu nav ul li a {color: #000;}
#dsk-top-menu nav ul li a:hover {
    color: #cd3331;
    text-decoration: underline;
    transition: all .2s ease-in-out;
}
#dsk-top-menu nav ul li a:active {color: #8a2221;}

#dsk-top-menu div {
    line-height: 60px;
    padding: 0 20px 0 30px;
    letter-spacing: -0.5px;
    font-size: 90%;
}
#dsk-top-menu div a{color: #000;}
#dsk-top-menu div a:active{color: #417d00;}

#dsk-top-menu .callback {
    max-width: 198px;
    background:#44bb6e;
    margin: 10px 40px 10px 20px;
    padding: 0 30px;
    border-radius: 4px;
    font-size:77.78%;
    font-weight: 700;
    white-space: nowrap;
    text-transform: uppercase;
    line-height: 40px;
    color: #fff;
}
#dsk-top-menu .callback:hover {
    background: #295776;
    transition: background-color .2s ease-in-out;
}
#dsk-top-menu .callback:active {
    background: #18374d;
    color: #e1f3ff;
}
/* END Top Menu Desktop */




/* Video Section Desktop */
#dsk-video::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.6);
    z-index: 1;
    pointer-events: none;
}
#dsk-video {
    background: url(../../../i.industrial.kz/stat/i/main_cover.jpg) center no-repeat fixed #000;
    background-size: cover;
    height: 100vh;
    text-align: center;
    padding: 40px;
    overflow: hidden;
    position: relative;
}
#dsk-video video {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
#dsk-video > .container {
    grid-template-columns: 1fr;
    align-content: center;
    height: 100vh;
    z-index: 3;
}
#dsk-video > .container h1 {
    font-size: 233.33%;
    line-height: 1;
}
#dsk-video > .container p {
    font-size: 168%;
    margin-bottom: 40px;
}
#dsk-video > .container form input, #dsk-video > .container form button {
    margin: 10px 10px;
}
#dsk-video > .container form input {
    width: 100%;
    max-width: 450px;
    height: 56px;
    padding: 0 20px;
    font-size: 88.89%;
    background: none;
    border: 2px solid #1d73bf;
    border-radius: 4px;
    font: 400 88.89% 'Circe Rounded', sans-serif;
}
#dsk-video > .container form input::placeholder {
    content: '';
    color:#000;
    font: 400 100% 'Circe Rounded', sans-serif;
}
#dsk-video > .container form input:focus {
    background: rgba(255, 255, 255, 0.3);
}
#dsk-video > .container form input:focus::placeholder {
    opacity: .3;
}
#dsk-video > .container form button {
    font: 700 88.89% 'Circe Rounded', sans-serif;
    width: 100%;
    max-width: 130px;
    height: 56px;
    padding: 0 40px;
    white-space: nowrap;
    background-color: #1d73bf;
    color:#fff;
    border: none;
    border-radius: 4px;
}
#dsk-video > .container form button:hover {
    background: #295776;
    transition: background-color .2s ease-in-out;
    cursor: pointer;
}
#dsk-video > .container form button:active {
    background: #18374d;
    color: #e1f3ff;
}
#dsk-video > .container form p {
    font-size: 77.78%;
    margin-top: 10px;
    font-weight: 700;
}
/* END Video Section Desktop */


.wrapper{background: #f0f0f0; z-index: 1}
main {
    grid-template-columns: 1fr;

}



/* Catalog Button Desktop */
main .catalog-button {
    text-align: center;
    padding:40px;
}
main .catalog-button a {
    display: inline-block;
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='#1d73bf' viewBox='0 0 90 90'><path class='st0' d='M80.6 90V16.4L64.2 0H10.6v90m55-81.5l6.5 6.5h-6.5V8.5zM15.6 85V5h45v15h15v65'></path><path d='M28.2 38h34.7v5H28.2zM28.2 50h34.7v5H28.2z'></path></svg>")  no-repeat left top;
    font: 400 133.33% 'Circe Rounded', sans-serif;
    color:#000;
    padding-left: 45px;
    padding-top: 4px;
}
main .catalog-button a:hover{
    color:#1d73bf;
    text-decoration: underline;
    transition: all .2s ease-out;
}

main .catalog-button a:active{
    color:#18374d;
    text-decoration: underline;
    transition: all .2s ease-out;
}

main .dark-bg-color a{color:#fff;}
main .dark-bg-color a:hover{color:#fff;}
main .dark-bg-color a:active{color:#b0b0b0;}
/* END Catalog Button Desktop */



/* Main Article Desktop */
main .mainpage-text h2 {
    font-size: 155.56%;
    line-height: 130%;
    text-align: center;
    padding: 40px 20px;
}
main .container{
    width: 70%;
}
main .mainpage-text .article-content{
    column-count: 2;
    column-gap: 60px;
    padding: 0 20px;
    margin-bottom: 80px;
}
main .mainpage-text .article-content h3{
    font-size: 120%;
    padding: 30px 0 15px; text-align: center;
}
main .mainpage-text .article-content h4{
    font-size: 100%;
    padding: 0 0 5px;
    font-weight: 700;
}
main .mainpage-text .article-content p{
    padding-bottom: 20px;
    text-indent: 6%;
}
main .mainpage-text .article-content p:first-child{
    text-indent: 0;
}
main .mainpage-text .article-content ul > li{
    padding-bottom: 10px;
    list-style-type: none;
}
main .mainpage-text .article-content ul > li:before {
    content: '\25c6 \20';
    color: #1d73bf;margin-left: -4%;
}
main .mainpage-text .article-content a{
    color: #1d73bf;
    text-decoration: underline;
}
main .mainpage-text .article-content a:hover{
    color: #295776;
    text-decoration: none;
    transition: all .2s ease-out;
}
main .mainpage-text .article-content a:active{
    color: #18374d;
    text-decoration: none;
}
/* END Main Article Desktop */



/* Main Company Block Desktop */
main .main-clients::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: -moz-linear-gradient(top, rgba(0,0,0,0.50), rgba(0,0,0,1));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.50), rgba(0,0,0,1));
    background: -o-linear-gradient(top, rgba(0,0,0,0.50), rgba(0,0,0,1));
    background: -ms-linear-gradient(top, rgba(0,0,0,0.50), rgba(0,0,0,1));
    background: linear-gradient(top, rgba(0,0,0,0.50), rgba(0,0,0,1));
    z-index: 1;
}
main .main-clients {
    position: relative;
    height: 70vh;
    align-content: center;
    text-align: center;
    padding:40px;
    color:#fff;
    background: url(../../../i.industrial.kz/stat/i/main_subcover.jpg) center no-repeat fixed #000;
    overflow: hidden;
}
main .main-clients .container{
    width: 60%;
    z-index: 3;
}
main .main-clients h2{
    font-size: 233.33%;
    line-height: 1;
    padding: 10px;
}
main .main-clients p{
    font: 400 133.33% 'Circe Rounded', sans-serif;
    padding: 10px;
}

main .main-clients .logos{
    grid-template-columns: repeat(5,1fr); background-color: red; padding: 10px
}
main .main-clients .logos
.mainpage-dark-bg {background: #000;}
/* END Main Company Block Desktop */




.map-contacts { z-index: 1; position: relative;
    grid-template-columns:1fr 1fr;
    height: 388px;
    text-align: center;
}

.map-contacts .map{
    background: #808080;
    padding:40px;
}

.map-contacts .contacts{
    padding:40px;
}

footer {
    z-index: 1; position: relative;
    background:#111;
    padding-top:75px;
    padding-bottom: 90px;
    -osx-font-smoothing: grayscale;
}
