/* ~~~~~~~~~~~~~~~~~~~~~ Core Style ~~~~~~~~~~~~~~~~~~~~~ */
:root {
    --accent-clr: #1d73bf;
    --second-clr: #295776;
    --f0-clr: #f0f0f0;
}

/* Reset, Start*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    vertical-align: baseline;
    background: transparent;
}
html, body {width: 100%; height: 100%;}
body {
    line-height: 1.75;
    font: 400 18px Circe, sans-serif;
    color: #000;
    -webkit-font-smoothing: antialiased;
}
/* Text Fonts*/
@font-face {
  font-family: Circe;
  src: url('../f/circe-r.eot');
  src: url('../f/circe-r.woff2') format('woff2'),
       url('../f/circe-r.woff') format('woff'),
       url('../f/circe-r.ttf') format('truetype'),
       url('../f/circe-r.eot?#iefix') format('embedded-opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Circe;
  src: url('../f/circe-b.eot');
  src: url('../f/circe-b.woff2') format('woff2'),
       url('../f/circe-b.woff') format('woff'),
       url('../f/circe-b.ttf') format('truetype'),
       url('../f/circe-b.eot?#iefix') format('embedded-opentype');
  font-weight: 700;
  font-style: normal;
}

/* Headers Fonts*/
@font-face {
  font-family: 'Circe Rounded';
  src: url('../f/circerounded-r.eot');
  src: url('../f/circerounded-r.woff2') format('woff2'),
       url('../f/circerounded-r.woff') format('woff'),
       url('../f/circerounded-r.ttf') format('truetype'),
       url('../f/circerounded-r.eot?#iefix') format('embedded-opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Circe Rounded';
  src: url('../f/circerounded-alt-b.eot');
  src: url('../f/circerounded-alt-b.woff2') format('woff2'),
       url('../f/circerounded-rcircerounded-alt-b.woff') format('woff'),
       url('../f/circerounded-alt-b.ttf') format('truetype'),
       url('../f/circerounded-alt-b.eot?#iefix') format('embedded-opentype');
   font-weight: 700;
   font-style: normal;
}

/* Global Style */
::selection {background: var(--accent-clr); color: #fff;}
nav ul {list-style: none;}
a, a:visited {
    font-size: 100%;
    text-decoration: none;
    color: var(--accent-clr);
}
a:hover {
    color: var(--second-clr);
    text-decoration: underline;
}
a:active {color: #18374d;}

input, select {vertical-align:middle;} /* -------------- TO FORMS */
input, button, textarea {outline: 0;} /* -------------- TO FORMS */

.grid{display: grid;}
.container{
    width: 60%;
    margin: 0 auto;
    padding:0 0.74%;
    position: relative;
}
h1,h2,h3 {font: 400 18px 'Circe Rounded', sans-serif;}
b, strong {font-weight: 700;}

/* ~~~~~~~~~~~~~~~~~~~~~ END GLOBAL STYLE ~~~~~~~~~~~~~~~~~~~~~ */

/* Top Menu Desktop */
#top-menu {
    font-family: 'Circe Rounded', sans-serif;
    position: fixed;
    grid-template-columns: 10% 200px 1fr 60px auto 162px 10%;
    grid-template-rows: 60px;
    column-gap: 2%;
    align-items: center;
    align-self: center;
    width: 98%;
    height: 60px;
    white-space: nowrap;
    z-index: 10;
    overflow: hidden;
    transition: background-color .2s ease-in-out;
    border-radius: 10px;
    margin: .8% 0 0 1%;
}
#top-menu>* {
    display: inline-grid;
    position: relative;
}

.top-menu__logo-wrap {
  grid-column: 2;
  height: 65%;
  align-items: center;
  align-self: center;
  justify-content: start;
  justify-self: start;
  grid-row: 1;
  grid-auto-rows: 1fr;
}
.top-menu__logo-wrap__logo-img {
    height: 100%;
    align-self: center;
    justify-content: start;
    justify-self: start;
}
#top-menu nav {
    font-weight:700;
    letter-spacing: -0.5px;
    font-size: 0.9vw;
    justify-content: start;
    grid-row: 1;
    grid-column: 3;
    grid-auto-rows: 1fr;
}
#top-menu nav ul{
  align-items: center;
  display: flex; width: 100%;
}
#top-menu nav ul li {
  display: inline-flex;
  padding-right: 4%;
}
#top-menu nav ul li:last-child {
  padding-right: 0;
}
#top-menu nav ul li a {color: #000; border-bottom: 1px solid rgba(0, 0, 0, 0.3);box-sizing: border-box;}
#top-menu nav ul li a:hover {
    color: var(--accent-clr);
    border-bottom: 1px solid rgba(29, 115, 191, 0.3);
    text-decoration: none;
}
#top-menu nav ul li a:active {color: #8a2221;}

#top-menu .whatsapp {
    background-image: url(../../../i.industrial.kz/stat/i/wsp2.svg);
    background-repeat: no-repeat;
    background-size: cover;
    justify-self:end;
    display: inline-grid;
    height: 55%;
    width: 55%;
    grid-row: 1;
    grid-column: 4;
    grid-auto-rows: 1fr;
}
#top-menu .top-phone {
    letter-spacing: -0.5px;
    font-size: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-row: 1;
    grid-column: 5;
    grid-auto-rows: 1fr; margin-top:6px;
}
#top-menu .top-phone p{
    font-size: 65%;
    line-height: 1.2;
    font-weight: 700;
}
#top-menu .top-phone a{color: #000;line-height: 1;}
#top-menu .top-phone a:hover{text-decoration: none; color: #417d00;}
#top-menu .top-phone a:active{color: #18374d;}

#top-menu .callback, #top-menu .whatsapp, .top-menu__logo-wrap__logo-img {
    transform: scale(1);
    transition: all .05s ease-out;
}
#top-menu .callback:hover, #top-menu .whatsapp:hover, .top-menu__logo-wrap__logo-img:hover {
    text-decoration: none;
    transform: scale(.95);
    transition: all .03s ease-in;
}
#top-menu .callback:active, #top-menu .whatsapp:active, .top-menu__logo-wrap__logo-img:active {
    transform: scale(.90);
    transition: all .02s ease-in;
}
#top-menu .callback {
    box-sizing: border-box;
    border: 3px solid var(--accent-clr);
    width: 162px;
    height: 70%;
    border-radius: 100px;
    font-size: 80%;
    font-weight: 700;
    white-space: nowrap;
    text-transform: uppercase;
    justify-self:end;
    align-self: center;
    text-align: center;
    vertical-align: middle;
    line-height: 36px;
    color: var(--accent-clr);
    padding: 0;
    grid-row: 1;
    grid-column: 6;
    grid-auto-rows: 1fr;

}
#top-menu .callback:hover {
    text-decoration: none;
    transform: scale(.95);
    transition: all .03s ease-in;

}
#top-menu .callback:active {
    transform: scale(.90);
    transition: all .02s ease-in;
}
/* END Top Menu Desktop */



/* Video Section Desktop */
.main-cover::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url(../../../i.industrial.kz/stat/i/cover_seq.webp) center no-repeat #000;
    background-size: cover;
    pointer-events: none;
}
.main-cover {
    height: 100vh;
    width: 100vw;
    text-align: center;
    padding: 40px;
    overflow: hidden;
    position: relative;
}

/*
#dsk-video video {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}*/
.main-cover > .container {
    grid-template-columns: 1fr;
    align-content: center;
    height: 100vh;
    z-index: 3;
}
.main-cover > .container h1 {
    font-size: 233.33%;
    line-height: 1;
}
.main-cover > .container p {
    font-size: 168%;
    margin-bottom: 40px;
    line-height: 1.2;
}
.main-cover > .container form input, #dsk-video > .container form button {
    margin: 10px 10px;
}
.main-cover> .container form input {
    width: 100%;
    max-width: 450px;
    height: 56px;
    padding: 0 20px;
    font-size: 88.89%;
    background: none;
    border: 2px solid var(--accent-clr);
    border-radius: 50px;
    font: 400 88.89% 'Circe Rounded', sans-serif;
}
.main-cover > .container form input::placeholder {
    content: '';
    color:#000;
    font: 400 100% 'Circe Rounded', sans-serif;
}
.main-cover> .container form input:focus {
    background: rgba(255, 255, 255, 0.3);
}
.main-cover > .container form input:focus::placeholder {
    opacity: .3;
}
.main-cover > .container form button {
    font: 700 88.89% 'Circe Rounded', sans-serif;
    width: 100%;
    max-width: 130px;
    height: 56px;
    white-space: nowrap;
    text-transform: uppercase;
    background-color: var(--accent-clr);
    color:#fff;
    border: none;
    border-radius: 50px;
}
.main-cover > .container form button:hover {
    background: var(--second-clr);
    background-image: url(../../../i.industrial.kz/stat/i/source.gif); background-repeat: no-repeat;
    cursor: pointer;
}
.main-cover > .container form button:active {
    background: #18374d;
    color: #e1f3ff;
}
.main-cover > .container form p {
    font-size: 77.78%;
    margin-top: 10px;
    font-weight: 700;
}
/* END Video Section Desktop */


.wrapper{
    background: var(--f0-clr);
    z-index: 1
}
main {
    grid-template-columns: 1fr;

}



/* Catalog Button Desktop */
.catalog-button {
    text-align: center;
    padding:40px 10px;
    z-index: 1;
}
.catalog-button a {
    display: inline-block;
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='%231d73bf' viewBox='0 0 90 90'><path class='st0' d='M80.6 90V16.4L64.2 0H10.6v90m55-81.5l6.5 6.5h-6.5V8.5zM15.6 85V5h45v15h15v65'></path><path d='M28.2 38h34.7v5H28.2zM28.2 50h34.7v5H28.2z'></path></svg>")  no-repeat left top;
    font: 400 133.33% 'Circe Rounded', sans-serif;
    color:#000;
    padding-left: 45px;
    padding-top: 4px;
}
.catalog-button a:hover{
    color:var(--accent-clr);
}
.catalog-button a:active{
    color:#18374d;
}
.cat-butt-dark-company {padding:30px 10px 0;}
.cat-butt-foot {padding:60px 10px;}
.cat-butt-dark-color a, .cat-butt-dark-color a:hover{color:#fff;}
.cat-butt-dark-color a:active{color:#b0b0b0;}
/* END Catalog Button Desktop */



/* Main Article Desktop */
main .mainpage-text h2 {
    font-size: 155.56%;
    line-height: 130%;
    text-align: center;
    padding: 40px 20px;
}

main .mainpage-text .article-content{
    column-count: 2;
    column-gap: 60px;
    padding: 0 20px;
    margin-bottom: 80px;
}
main .mainpage-text .article-content h3{
    font-size: 120%;
    padding: 30px 0 15px; text-align: center;
}
main .mainpage-text .article-content h4{
    font-size: 100%;
    padding: 0 0 5px;
    font-weight: 700;
}
main .mainpage-text .article-content p{
    padding-bottom: 20px;
    text-indent: 6%;
}
main .mainpage-text .article-content p:first-child{
    text-indent: 0;
}
main .mainpage-text .article-content ul > li{
    padding-bottom: 10px;
    list-style-type: none;
}
main .mainpage-text .article-content ul > li:before {
    content: '\25c6 \20';
    color: var(--accent-clr);margin-left: -4%;
}
/* END Main Article Desktop */



/* Main Company Block Desktop */
main .main-clients::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: -moz-linear-gradient(top, rgba(0,0,0,0.50), rgba(0,0,0,1));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.50), rgba(0,0,0,1));
    background: -o-linear-gradient(top, rgba(0,0,0,0.50), rgba(0,0,0,1));
    background: -ms-linear-gradient(top, rgba(0,0,0,0.50), rgba(0,0,0,1));
    background: linear-gradient(top, rgba(0,0,0,0.50), rgba(0,0,0,1));
    z-index: 1;
}
main .main-clients {
    position: relative;
    height: 70vh;
    align-content: center;
    text-align: center;
    padding:40px;
    color:#fff;
    background: url(../../../i.industrial.kz/stat/i/main_subcover.jpg) center no-repeat fixed #000;
    overflow: hidden;
}
main .main-clients .container{
    width: 60%;
    z-index: 3;
}
main .main-clients h2{
    font-size: 233.33%;
    line-height: 1;
    padding: 10px;
}
main .main-clients p{
    font: 400 133.33% 'Circe Rounded', sans-serif;
    padding: 10px;
}

main .main-clients .logos{
    grid-template-columns: repeat(5,1fr);
    grid-gap:10px;
    object-fit: none;
    text-align: center;
    padding:30px 10px;
}
main .main-clients .logos>*{
    object-fit: none;
    justify-self:center;
    align-self:center;
    height: 54px;
    padding:10px;
}
main .main-clients .logos>:nth-child(1){
  object-position: -2px -2px;
  width: 191px;
}
main .main-clients .logos>:nth-child(2){
  object-position: -195px -2px;
  width: 89px;
}
main .main-clients .logos>:nth-child(3){
  object-position: -2px -58px;
  width: 134px;
}
main .main-clients .logos>:nth-child(4){
  object-position: -138px -58px;
  width: 128px;
}
main .main-clients .logos>:nth-child(5){
  object-position: -268px -58px;
  width: 163px;
}


.mainpage-dark-bg {background: #000;}
/* END Main Company Block Desktop */




.map-contacts {
    position: relative;
    grid-template-columns: 1fr 1fr;
    height: 70vh;
    z-index: 1;
}
.map-contacts> .contacts {
    justify-self: center;
    align-self: center;
}
.map-contacts .contacts>*{
    padding: 5%;
}
.map-contacts .contacts h2{
    font-size: 150%;
}
.map-contacts .contacts p a{
    font-size: 133.33%;
}

.map-contacts .contacts p a:first-child{
    color: #000;
}
.map-contacts .contacts p a:first-child:hover{
    text-decoration: none;
}
.map-contacts .contacts p a:first-child:active{
    color: #417d00;
}


footer{position: relative;
background:#111;
padding-bottom: 90px;
color:#fff;
-osx-font-smoothing: grayscale;
z-index: 1;}

footer:first-child {
    grid-template-columns: repeat(4, 1fr);
}
footer .catalog-button {grid-column:1/5;}
footer h3 {
    font-size: 88.89%;
    text-transform: uppercase;
    color:#a1a1a1;
    margin-bottom:10px;
}
footer ul {
    list-style: none;
}
footer ul li {
    font-size: 77.78%;
    line-height: 2.4;
}
footer a, footer a:hover{
    color:#fff;
}
footer a:active {
    color:#b0b0b0;
}
footer img{
    display: inline-block;
    width: 137px;
    padding: 0 40px;
}
footer p{
    font-size: 60%;
    color: #a1a1a1;
    padding: 10px 40px;
}





.ymap-container {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  background: url('../../../i.industrial.kz/stat/i/ya_map_psh.png') #fff9e8 no-repeat;
  background-position: center center;
  background-size: auto auto;
}

#map-yandex {
  position: relative;
  width: 100%;
  height: 70vh;
  cursor: pointer;
  background-color: transparent;
}

/*Индикатор загрузки, который показывается до загрузки карты*/
.loader {
  position: absolute;
  top: -100%;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: #000;
  transition: opacity .3s ease;
  opacity: 0;
  background-color: rgba(29, 115, 191, .3);
}
.loader:after,
.loader:before {
  box-sizing: border-box;
}
.loader.is-active {
  top: 0;
  opacity: 1;
}

.loader-default:after {
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% - 10px);
  width: 20px;
  height: 20px;
  content: '';
  -webkit-animation: rotation .3s linear infinite;
          animation: rotation .3s linear infinite;

  border: solid 4px #fff;
  border-left-color: transparent;
  border-radius: 50%;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}
@-webkit-keyframes blink {
  from {
    opacity: .5;
  }
  to {
    opacity: 1;
  }
}
@keyframes blink {
  from {
    opacity: .5;
  }
  to {
    opacity: 1;
  }
}
