/*
-----------------------------
Core Style
-----------------------------
*/

/* Variables*/
:root {
    --accent-clr: #1d73bf;
    --second-clr: #295776;
    --f0-clr: #f0f0f0;
}

/* Reset, Start & Base Style */
* {
    position: relative;
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    vertical-align: middle;
    background: transparent;
}
body > *, main > * {display: grid;}
script {
    position: static;
    display: none;
}
html, body {
    width: 100%;
    height: 100%;
}
body {
    line-height: 1.75;
    font: 400 18px Circe, sans-serif;
    color: #000;
    -webkit-font-smoothing: antialiased;
}

/* Fonts */
/* Text Fonts */
@font-face {
    font-family: Circe;
    src: url('../f/circe-r.eot');
    src: url('../f/circe-r.woff2') format('woff2'),
         url('../f/circe-r.woff') format('woff'),
         url('../f/circe-r.ttf') format('truetype'),
         url('../f/circe-r.eot?#iefix') format('embedded-opentype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: Circe;
    src: url('../f/circe-b.eot');
    src: url('../f/circe-b.woff2') format('woff2'),
         url('../f/circe-b.woff') format('woff'),
         url('../f/circe-b.ttf') format('truetype'),
         url('../f/circe-b.eot?#iefix') format('embedded-opentype');
    font-weight: 700;
    font-style: normal;
}

/* Headers Fonts*/
@font-face {
    font-family: 'Circe Rounded';
    src: url('../f/circerounded-r.eot');
    src: url('../f/circerounded-r.woff2') format('woff2'),
         url('../f/circerounded-r.woff') format('woff'),
         url('../f/circerounded-r.ttf') format('truetype'),
         url('../f/circerounded-r.eot?#iefix') format('embedded-opentype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Circe Rounded';
    src: url('../f/circerounded-alt-b.eot');
    src: url('../f/circerounded-alt-b.woff2') format('woff2'),
         url('../f/circerounded-rcircerounded-alt-b.woff') format('woff'),
         url('../f/circerounded-alt-b.ttf') format('truetype'),
         url('../f/circerounded-alt-b.eot?#iefix') format('embedded-opentype');
    font-weight: 700;
    font-style: normal;
}

::selection {
    background: var(--accent-clr);
    color: #fff;
}
h1,h2,h3 {font: 400 18px 'Circe Rounded', sans-serif;}
b, strong {font-weight: 700;}
a, a:visited {
    font-size: 100%;
    text-decoration: none;
    color: var(--accent-clr);
}
a:hover {
    color: var(--second-clr);
    text-decoration: underline;
}
a:active {color: #18374d;}
.container{
    width: 60%;
    margin: 0 auto;
    padding:0 0.74%;
}
/* END Reset, Start & Base Style */

/* Top Menu */
#top-menu {
    font-family: 'Circe Rounded', sans-serif;
    position: fixed;
    overflow: hidden;
    align-items: center;
    align-self: center;
    white-space: nowrap;
    z-index: 10;
    border-radius: 10px;
    letter-spacing: -0.5px;
    transition: background-color .2s ease-in-out;
    will-change: transform;
}
#top-menu> * {display: inline-grid;}

    /* Logo */
.top-menu__logo-wrap {
    align-items: center;
    align-self: center;
    justify-content: start; /*CHECK IT*/
    justify-self: start; /*CHECK IT*/
}
.top-menu__logo-wrap__logo-img {
    height: 100%;
    align-self: center;
    justify-content: start; /*CHECK IT*/
    justify-self: start; /*CHECK IT*/
}
.top-menu__logo-wrap__logo-img:hover {transform: scale(.96);}
.top-menu__logo-wrap__logo-img:active {transform: scale(.91);}

    /* Navigation */
#top-menu nav {
    font-weight: 700;
    justify-content: start;
}
#top-menu nav ul{
    list-style: none;
    display: block;
    width: 100%;
    align-items: center;
}
#top-menu nav ul li {display: inline-block;}
#top-menu nav ul li:first-child {padding-left: 0;}
#top-menu nav ul li:last-child {padding-right: 0;}
#top-menu nav ul li a {
    display: inline-block;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    color: #000;
}
#top-menu nav ul li a:hover {
    color: var(--accent-clr);
    text-decoration: none;
    border-bottom: 1px solid rgba(29, 115, 191, 0.3);
}
#top-menu nav ul li a:active {transform: scale(.95);}

    /* WhatsApp Button */
#top-menu .whatsapp {
    grid-column: 4;
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 418.88 420.76'><defs><linearGradient id='a' x1='209.44' x2='209.44' y1='420.76' gradientUnits='userSpaceOnUse'><stop offset='0' stop-color='%23f9f9f9'/><stop offset='1' stop-color='%23fff'/></linearGradient></defs><path fill='%2325d366' d='M7.25 413.48l28.57-104.3A201 201 0 0 1 8.94 208.55C9 97.57 99.31 7.29 210.28 7.29a201.35 201.35 0 0 1 201.35 201.42C411.58 319.69 321.25 410 210.29 410h-.09a201.26 201.26 0 0 1-96.2-24.51z'/><path fill='url(#a)' d='M0 420.76l29.59-108A208.15 208.15 0 0 1 1.75 208.49C1.8 93.53 95.35 0 210.32 0a208.57 208.57 0 0 1 208.56 208.65c-.05 115-93.62 208.5-208.56 208.5h-.09a208.44 208.44 0 0 1-99.67-25.38zM115.69 354l6.33 3.76a173.18 173.18 0 0 0 88.23 24.16h.07c95.54 0 173.31-77.75 173.35-173.3a173.36 173.36 0 0 0-173.29-173.4C114.76 35.22 37 113 37 208.5a172.8 172.8 0 0 0 26.51 92.22l4.12 6.56-17.51 64z'/><path fill='%23fff' fill-rule='evenodd' d='M158.19 121.33c-3.9-8.68-8-8.86-11.73-9-3-.13-6.51-.12-10-.12a19.17 19.17 0 0 0-13.9 6.52c-4.78 5.22-18.24 17.82-18.24 43.46s18.68 50.42 21.28 53.9 36 57.77 89 78.66c44 17.36 53 13.9 62.53 13S308 295.17 312.35 283s4.34-22.59 3-24.77-4.78-3.48-10-6.08-30.83-15.22-35.61-17-8.25-2.6-11.73 2.62-13.45 16.94-16.49 20.42-6.08 3.91-11.29 1.31-22-8.11-41.91-25.87c-15.49-13.81-26-30.87-29-36.08s-.33-8 2.28-10.64c2.34-2.33 5.22-6.08 7.82-9.12s3.47-5.22 5.21-8.69.87-6.53-.44-9.13-11.37-28.34-16-38.64z'/></svg>") no-repeat;
    background-size: cover;
    display: inline-grid;
    justify-self: end;
    height: 55%;
    width: 55%;
}
#top-menu .whatsapp:hover {transform: scale(.93);}
#top-menu .whatsapp:active {transform: scale(.84);}

    /* Phone Block */
#top-menu .top-phone {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top:6px;
}
#top-menu .top-phone a{
    line-height: 1;
    color: #000;
}
#top-menu .top-phone a:hover{
    text-decoration: none;
    color: #417d00;
}
#top-menu .top-phone a:active {transform: scale(.95);}
#top-menu .top-phone p{
    line-height: 1.2;
    font-weight: 700;
}

    /* Callback Button */
#top-menu .callback {
    box-sizing: border-box;
    border: 3px solid var(--accent-clr);
    border-radius: 100px;
    font-weight: 700;
    white-space: nowrap;
    text-transform: uppercase;
    justify-self:end;
    align-self: center;
    text-align: center;
    line-height: 36px;
    color: var(--accent-clr);
}
#top-menu .callback:hover {
    text-decoration: none;
    transform: scale(.97);
}
#top-menu .callback:active {transform: scale(.93);}
.top-menu__logo-wrap__logo-img:hover, #top-menu .whatsapp:hover, #top-menu .callback:hover, .top-menu__logo-wrap__logo-img:active, #top-menu nav ul li a:active, #top-menu .whatsapp:active, #top-menu .top-phone a:active, #top-menu .callback:active {transition: all .02s ease-in;}
/* END Top Menu */

/* Video Section */
.main-cover::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url(../../../i.industrial.kz/stat/i/cover_seq.webp) center no-repeat #000;
    background-size: cover;
    pointer-events: none;
}
.main-cover {
    height: 100vh;
    width: 100vw;
    text-align: center;
    padding: 40px;
    overflow: hidden;
}

/*
#dsk-video video {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}*/
.main-cover > .container {
    grid-template-columns: 1fr;
    align-content: center;
    height: 100vh;
    z-index: 3;
}
.main-cover > .container h1 {
    font-size: 233.33%;
    line-height: 1;
}
.main-cover > .container p {
    font-size: 168%;
    margin-bottom: 40px;
    line-height: 1.2;
}
.main-cover > .container form input, #dsk-video > .container form button {
    margin: 10px 10px;
}
.main-cover> .container form input {
    width: 100%;
    max-width: 450px;
    height: 56px;
    padding: 0 20px;
    font-size: 88.89%;
    background: none;
    border: 2px solid var(--accent-clr);
    border-radius: 50px;
    font: 400 88.89% 'Circe Rounded', sans-serif;
}
.main-cover > .container form input::placeholder {
    content: '';
    color:#000;
    font: 400 100% 'Circe Rounded', sans-serif;
}
.main-cover> .container form input:focus {
    background: rgba(255, 255, 255, 0.3);
}
.main-cover > .container form input:focus::placeholder {
    opacity: .3;
}
.main-cover > .container form button {
    font: 700 88.89% 'Circe Rounded', sans-serif;
    width: 100%;
    max-width: 130px;
    height: 56px;
    white-space: nowrap;
    text-transform: uppercase;
    background-color: var(--accent-clr);
    color:#fff;
    border: none;
    border-radius: 50px;
}
.main-cover > .container form button:hover {
    background: var(--second-clr);
    background-image: url(../../../i.industrial.kz/stat/i/source.gif); background-repeat: no-repeat;
    cursor: pointer;
}
.main-cover > .container form button:active {
    background: #18374d;
    color: #e1f3ff;
}
.main-cover > .container form p {
    font-size: 77.78%;
    margin-top: 10px;
    font-weight: 700;
}
/* END Video Section Desktop */


.wrapper{
    background: var(--f0-clr);
    z-index: 1
}
main {
    grid-template-columns: 1fr;

}



/* Catalog Button Desktop */
.catalog-button {
    text-align: center;
    padding:40px 10px;
    z-index: 1;
}
.catalog-button a {
    display: inline-block;
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='%231d73bf' viewBox='0 0 90 90'><path class='st0' d='M80.6 90V16.4L64.2 0H10.6v90m55-81.5l6.5 6.5h-6.5V8.5zM15.6 85V5h45v15h15v65'></path><path d='M28.2 38h34.7v5H28.2zM28.2 50h34.7v5H28.2z'></path></svg>")  no-repeat left top;
    font: 400 133.33% 'Circe Rounded', sans-serif;
    color:#000;
    padding-left: 45px;
    padding-top: 4px;
}
.catalog-button a:hover{
    color:var(--accent-clr);
}
.catalog-button a:active{
    color:#18374d;
}
.cat-butt-dark-company {padding:30px 10px 0;}
.cat-butt-foot {padding:60px 10px;}
.cat-butt-dark-color a, .cat-butt-dark-color a:hover{color:#fff;}
.cat-butt-dark-color a:active{color:#b0b0b0;}
/* END Catalog Button Desktop */



/* Main Article Desktop */
main .mainpage-text h2 {
    font-size: 155.56%;
    line-height: 130%;
    text-align: center;
    padding: 40px 20px;
}

main .mainpage-text .article-content{
    column-count: 2;
    column-gap: 60px;
    padding: 0 20px;
    margin-bottom: 80px;
}
main .mainpage-text .article-content h3{
    font-size: 120%;
    padding: 30px 0 15px; text-align: center;
}
main .mainpage-text .article-content h4{
    font-size: 100%;
    padding: 0 0 5px;
    font-weight: 700;
}
main .mainpage-text .article-content p{
    padding-bottom: 20px;
    text-indent: 6%;
}
main .mainpage-text .article-content p:first-child{
    text-indent: 0;
}
main .mainpage-text .article-content ul > li{
    padding-bottom: 10px;
    list-style-type: none;
}
main .mainpage-text .article-content ul > li:before {
    content: '\25c6 \20';
    color: var(--accent-clr);margin-left: -4%;
}
/* END Main Article Desktop */



/* Main Company Block Desktop */
main .main-clients::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: -moz-linear-gradient(top, rgba(0,0,0,0.50), rgba(0,0,0,1));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.50), rgba(0,0,0,1));
    background: -o-linear-gradient(top, rgba(0,0,0,0.50), rgba(0,0,0,1));
    background: -ms-linear-gradient(top, rgba(0,0,0,0.50), rgba(0,0,0,1));
    background: linear-gradient(top, rgba(0,0,0,0.50), rgba(0,0,0,1));
    z-index: 1;
}
main .main-clients {
    width: 100vw;
    height: 70vh;
    align-content: center;
    text-align: center;
    padding:40px;
    color:#fff;
    background: url(../../../i.industrial.kz/stat/i/main_subcover.jpg) center no-repeat fixed #000;
    overflow: hidden;
}
main .main-clients .container{
    width: 60%;
    z-index: 3;
}
main .main-clients h2{
    font-size: 233.33%;
    line-height: 1;
    padding: 10px;
}
main .main-clients p{
    font: 400 133.33% 'Circe Rounded', sans-serif;
    padding: 10px;
}

main .main-clients .logos{
    grid-template-columns: repeat(5,1fr);
    grid-gap:10px;
    object-fit: none;
    text-align: center;
    padding:30px 10px;
}
main .main-clients .logos>*{
    object-fit: none;
    justify-self:center;
    align-self:center;
    height: 54px;
    padding:10px;
}
main .main-clients .logos>:nth-child(1){
  object-position: -2px -2px;
  width: 191px;
}
main .main-clients .logos>:nth-child(2){
  object-position: -195px -2px;
  width: 89px;
}
main .main-clients .logos>:nth-child(3){
  object-position: -2px -58px;
  width: 134px;
}
main .main-clients .logos>:nth-child(4){
  object-position: -138px -58px;
  width: 128px;
}
main .main-clients .logos>:nth-child(5){
  object-position: -268px -58px;
  width: 163px;
}


.mainpage-dark-bg {background: #000;}
/* END Main Company Block Desktop */




.map-contacts {
    grid-template-columns: 1fr 1fr;
    height: 70vh;
    z-index: 1;
}
.map-contacts> .contacts {
    justify-self: center;
    align-self: center;
}
.map-contacts .contacts>*{
    padding: 5%;
}
.map-contacts .contacts h2{
    font-size: 150%;
}
.map-contacts .contacts p a{
    font-size: 133.33%;
}

.map-contacts .contacts p a:first-child{
    color: #000;
}
.map-contacts .contacts p a:first-child:hover{
    text-decoration: none;
}
.map-contacts .contacts p a:first-child:active{
    color: #417d00;
}


footer{
background:#111;
padding-bottom: 90px;
color:#fff;
-osx-font-smoothing: grayscale;
z-index: 1;}

footer:first-child {
    grid-template-columns: repeat(4, 1fr);
}
footer .catalog-button {grid-column:1/5;}
footer h3 {
    font-size: 88.89%;
    text-transform: uppercase;
    color:#a1a1a1;
    margin-bottom:10px;
}
footer ul {
    list-style: none;
}
footer ul li {
    font-size: 77.78%;
    line-height: 2.4;
}
footer a, footer a:hover, footer a:visited{
    color:#fff;
}
footer a:active {
    color:#b0b0b0;
}
footer img{
    display: inline-block;
    width: 137px;
    padding: 0 40px;
}
footer p{
    font-size: 60%;
    color: #a1a1a1;
    padding: 10px 40px;
}





.ymap-container {
  overflow: hidden;
  cursor: pointer;
  background: url('../../../i.industrial.kz/stat/i/ya_map_psh.png') #fff9e8 no-repeat;
  background-position: center center;
  background-size: auto auto;
}

#map-yandex {
  width: 100%;
  height: 70vh;
  cursor: pointer;
  background-color: transparent;
}

/*Индикатор загрузки, который показывается до загрузки карты*/
.loader {
  position: absolute;
  top: -100%;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: #000;
  transition: opacity .3s ease;
  opacity: 0;
  background-color: rgba(29, 115, 191, .3);
}
.loader:after,
.loader:before {
  box-sizing: border-box;
}
.loader.is-active {
  top: 0;
  opacity: 1;
}

.loader-default:after {
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% - 10px);
  width: 20px;
  height: 20px;
  content: '';
  -webkit-animation: rotation .3s linear infinite;
          animation: rotation .3s linear infinite;

  border: solid 4px #fff;
  border-left-color: transparent;
  border-radius: 50%;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}
@-webkit-keyframes blink {
  from {
    opacity: .5;
  }
  to {
    opacity: 1;
  }
}
@keyframes blink {
  from {
    opacity: .5;
  }
  to {
    opacity: 1;
  }
}
