/*
-----------------------------
Core Style
-----------------------------
*/

/* Variables*/
:root {
    --accent-clr: #1d73bf;
    --second-clr: #295776;
    --f0-clr: #f0f0f0;
}

/* Reset, Start & Base Style */
* {
    position: relative;
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    vertical-align: middle;
    background: transparent;
}
body > *, main > * {display: grid;}
script {
    position: static;
    display: none;
}
html, body {
    width: 100%;
    height: 100%;
}
body {
    line-height: 1.75;
    font: 400 18px Circe, sans-serif;
    quotes: "\00ab" "\00bb";
    color: #000;
    background: var(--f0-clr);
    -webkit-font-smoothing: antialiased;
}
noscript iframe {
    display:none;
    visibility:hidden;
}

/* Fonts */
/* Text Font */
@font-face {
    font-family: Circe;
    src: url('../f/circe-r.eot');
    src: url('../f/circe-r.woff2') format('woff2'),
         url('../f/circe-r.woff') format('woff'),
         url('../f/circe-r.ttf') format('truetype'),
         url('../f/circe-r.eot?#iefix') format('embedded-opentype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: Circe;
    src: url('../f/circe-b.eot');
    src: url('../f/circe-b.woff2') format('woff2'),
         url('../f/circe-b.woff') format('woff'),
         url('../f/circe-b.ttf') format('truetype'),
         url('../f/circe-b.eot?#iefix') format('embedded-opentype');
    font-weight: 700;
    font-style: normal;
}

/* Headers Font*/
@font-face {
    font-family: 'Circe Rounded';
    src: url('../f/circerounded-r.eot');
    src: url('../f/circerounded-r.woff2') format('woff2'),
         url('../f/circerounded-r.woff') format('woff'),
         url('../f/circerounded-r.ttf') format('truetype'),
         url('../f/circerounded-r.eot?#iefix') format('embedded-opentype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Circe Rounded';
    src: url('../f/circerounded-alt-b.eot');
    src: url('../f/circerounded-alt-b.woff2') format('woff2'),
         url('../f/circerounded-rcircerounded-alt-b.woff') format('woff'),
         url('../f/circerounded-alt-b.ttf') format('truetype'),
         url('../f/circerounded-alt-b.eot?#iefix') format('embedded-opentype');
    font-weight: 700;
    font-style: normal;
}

::selection {
    background: var(--accent-clr);
    color: #fff;
}
h1, h2, h3 {font: 400 18px 'Circe Rounded', sans-serif;}
b, strong {font-weight: 700;}
a, a:visited {
    font-size: 100%;
    color: var(--accent-clr);
}
a:hover {
    color: #000;
    text-decoration: underline;
}
a:active {color: #18374d;}
.container{
    width: 60%;
    margin: 0 auto;
    padding:0 0.74%;
}
/* END Reset, Start & Base Style */

/* Top Main Menu */
#main-menu { /* ID for performance because it is a unique element */
    will-change: transform; /* For performance */
    font-family: 'Circe Rounded', sans-serif;
    overflow: hidden;
    align-items: center;
    align-self: center;
    white-space: nowrap;
    z-index: 10;
    border-radius: 10px;
    letter-spacing: -0.5px;
    transition: background-color .2s ease-in-out;
    animation-duration: 2s;
    animation-name: maincover-fade-content;
}
#main-menu > * {display: inline-grid;}

    /* Logo */
.main-menu__logo-wrap {
    align-items: center;
    align-self: center;
    justify-content: start; /*CHECK IT*/
    justify-self: start; /*CHECK IT*/
}
#main-menu img {
    height: 100%;
    align-self: center;
    justify-content: start; /*CHECK IT*/
    justify-self: start; /*CHECK IT*/
}
#main-menu img:hover {transform: scale(.96);}
#main-menu img:active {transform: scale(.91);}

    /* Navigation */
#main-menu nav {
    font-weight: 700;
    justify-content: start;
}
#main-menu nav ul{
    list-style: none;
    display: block;
    width: 100%;
    align-items: center;
}
#main-menu nav ul li {display: inline-block;}
#main-menu nav ul li:first-child {padding-left: 0;}
#main-menu nav ul li:last-child {padding-right: 0;}
#main-menu nav ul li a {
    display: inline-block;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    color: #000;
}
#main-menu nav ul li a:hover {
    color: var(--accent-clr);
    text-decoration: none;
    border-bottom: 1px solid rgba(29, 115, 191, 0.3);
}
#main-menu nav ul li a:active {transform: scale(.95);}

    /* WhatsApp Button */
#main-menu .whatsapp {
    display: inline-grid;
    justify-self: end;
    height: 55%;
    width: 55%;
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 418.88 420.76'><defs><linearGradient id='a' x1='209.44' x2='209.44' y1='420.76' gradientUnits='userSpaceOnUse'><stop offset='0' stop-color='%23f9f9f9'/><stop offset='1' stop-color='%23fff'/></linearGradient></defs><path fill='%2325d366' d='M7.25 413.48l28.57-104.3A201 201 0 0 1 8.94 208.55C9 97.57 99.31 7.29 210.28 7.29a201.35 201.35 0 0 1 201.35 201.42C411.58 319.69 321.25 410 210.29 410h-.09a201.26 201.26 0 0 1-96.2-24.51z'/><path fill='url(#a)' d='M0 420.76l29.59-108A208.15 208.15 0 0 1 1.75 208.49C1.8 93.53 95.35 0 210.32 0a208.57 208.57 0 0 1 208.56 208.65c-.05 115-93.62 208.5-208.56 208.5h-.09a208.44 208.44 0 0 1-99.67-25.38zM115.69 354l6.33 3.76a173.18 173.18 0 0 0 88.23 24.16h.07c95.54 0 173.31-77.75 173.35-173.3a173.36 173.36 0 0 0-173.29-173.4C114.76 35.22 37 113 37 208.5a172.8 172.8 0 0 0 26.51 92.22l4.12 6.56-17.51 64z'/><path fill='%23fff' fill-rule='evenodd' d='M158.19 121.33c-3.9-8.68-8-8.86-11.73-9-3-.13-6.51-.12-10-.12a19.17 19.17 0 0 0-13.9 6.52c-4.78 5.22-18.24 17.82-18.24 43.46s18.68 50.42 21.28 53.9 36 57.77 89 78.66c44 17.36 53 13.9 62.53 13S308 295.17 312.35 283s4.34-22.59 3-24.77-4.78-3.48-10-6.08-30.83-15.22-35.61-17-8.25-2.6-11.73 2.62-13.45 16.94-16.49 20.42-6.08 3.91-11.29 1.31-22-8.11-41.91-25.87c-15.49-13.81-26-30.87-29-36.08s-.33-8 2.28-10.64c2.34-2.33 5.22-6.08 7.82-9.12s3.47-5.22 5.21-8.69.87-6.53-.44-9.13-11.37-28.34-16-38.64z'/></svg>") no-repeat;
    background-size: cover;
}
#main-menu .whatsapp:hover {transform: scale(.93);}
#main-menu .whatsapp:active {transform: scale(.84);}

    /* Phone Block */
#main-menu .top-phone {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top:6px;
}
#main-menu .top-phone a{
    line-height: 1;
    color: #000;
}
#main-menu .top-phone a:hover{
    text-decoration: none;
    color: #25d366;
}
#main-menu .top-phone a:active {transform: scale(.95);}
#main-menu .top-phone span{
    line-height: 1.2;
    font-weight: 700;
}

    /* Callback Button */
#main-menu .callback {
    box-sizing: border-box;
    border: 3px solid var(--accent-clr);
    border-radius: 100px;
    font-weight: 700;
    white-space: nowrap;
    text-transform: uppercase;
    justify-self:end;
    align-self: center;
    text-align: center;
    line-height: 36px;
    color: var(--accent-clr);
    box-shadow: rgba(0, 0, 0, .2) 0px 1px 5px;
}
#main-menu .callback:hover {
    text-decoration: none;
    transform: scale(.97);
}
#main-menu .callback:active {transform: scale(.93);}
#main-menu img:hover, #main-menu .whatsapp:hover, #main-menu .callback:hover, #main-menu img:active, #main-menu nav ul li a:active, #main-menu .whatsapp:active, #main-menu .top-phone a:active, #main-menu .callback:active {transition: all .02s ease-in;}
/* END Top Menu */


/* Main Cover */
.main-cover::before { /* Pseudo-class for layers performance */
    will-change: transform; /* For performance */
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(240,240,240,0.5);
    pointer-events: none;
    animation-duration: 3s;
    animation-name: maincover-fade;
}
    @keyframes maincover-fade {
        from {background: rgba(240,240,240,1);}
        to {background: rgba(240,240,240,0.5);}
    }
.main-cover {
    background: url(../../../i.industrial.kz/stat/i/cover_bg.webp) center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vmin;
    text-align: center;
    overflow: hidden;
    align-items: end;
}
.main-cover * {
    animation-duration: 2s;
    animation-name: maincover-fade-content;
}
    @keyframes maincover-fade-content {
        from {opacity: 0;}
        to {opacity: 1;}
    }
.main-cover form {
    display: grid;
    align-self: start;
}
.main-cover form * {
    display: inline-grid;
    margin: 0;
    width: 100%;
    font-family: 'Circe Rounded', sans-serif;
    color:#000;
    white-space: nowrap;
    background: rgba(255, 255, 255, .6);
    box-shadow: rgba(0, 0, 0, .2) 0px 1px 5px;
    border-radius: 100px;
}
.main-cover form input {
    font-weight: 400;
}
.main-cover form input::placeholder {
    content: '';
    font-family: 'Circe Rounded', sans-serif;
    font-weight: 400;
    color:#000;
}
.main-cover form input:focus {
    background: rgba(255, 255, 255, .9);
}
.main-cover form input:focus::placeholder {
    opacity: .3;
}
.main-cover form button {
    font-weight: 700;
}
.main-cover form button:hover {
    background: rgba(255, 255, 255, .9);
    cursor: pointer;
    transform: scale(.92);
    transition: all .02s ease-in;
}
.main-cover form button:active {
    transform: scale(.85);
    transition: all .02s ease-in;
}

.catalog-category-items a {
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
    color:#000;
    text-decoration: none;
    text-align: center;
    transition: all .1s ease-out;
    box-shadow: rgba(0, 0, 0, .05) 0px 1px 45px;
}
.catalog-category-items a:hover {
    transform: scale(.98);
    transition: all .05s ease-in;
}
.catalog-category-items a:active {
    transform: scale(.95);
    transition: all .02s ease-in;
}
.catalog-category-items img {
    width: 100%;
    border-radius: 5px;
}
.catalog-category-items figure {
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
}
.catalog-category-items aside {
    position: absolute;
    bottom: 0;
    left:0;
    right:0;
    color:#000;
    background: rgba(240,240,240,0);
background: -moz-linear-gradient(top, rgba(240,240,240,0) 0%, rgba(240,240,240,1) 50%, rgba(240,240,240,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(240,240,240,0)), color-stop(50%, rgba(240,240,240,1)), color-stop(100%, rgba(240,240,240,1)));
background: -webkit-linear-gradient(top, rgba(240,240,240,0) 0%, rgba(240,240,240,1) 50%, rgba(240,240,240,1) 100%);
background: -o-linear-gradient(top, rgba(240,240,240,0) 0%, rgba(240,240,240,1) 50%, rgba(240,240,240,1) 100%);
background: -ms-linear-gradient(top, rgba(240,240,240,0) 0%, rgba(240,240,240,1) 50%, rgba(240,240,240,1) 100%);
background: linear-gradient(to bottom, rgba(240,240,240,0) 0%, rgba(240,240,240,1) 50%, rgba(240,240,240,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#f0f0f0', GradientType=0 );
}
.catalog-category-items aside a, .catalog-category-items aside a:active{
    color:var(--accent-clr);
    border-color: var(--accent-clr);
    background: none;
}
.catalog-category-items aside a {box-shadow: rgba(0, 0, 0, .2) 0px 1px 5px;}

/* Catalog Button */
.catalog-button {
    text-align: center;
    justify-content: center;
    z-index: 1;
}
.catalog-button a {
    font-family: 'Circe Rounded', sans-serif;
    font-weight: 700;
    box-sizing: border-box;
    display: inline-block;
    border: 3px solid #fff;
    border-radius: 100px;
    color:#fff;
    white-space: nowrap;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1;
}
.catalog-button a:hover{
    text-decoration: none;
    transform: scale(.97);
    transition: all .02s ease-in;
}
.catalog-button a:active{
    color: #fff;
    transform: scale(.93);
    transition: all .02s ease-in;
}
/* END Catalog Button */



/* Main Article */
.mainpage-text {background: #fff;}
.mainpage-text .article-content{
    grid-column: 2;
    column-gap: 3vmax;
    hyphens: initial;
    orphans: 3;
}
.mainpage-text h2 {
    column-span:all;
    text-align: center;
}
.mainpage-text img {
    width: 100%;
    height: auto;
}
.mainpage-text figcaption {
    font-style: italic;
    padding-top: .5vmax;
}
.mainpage-text h4{
    font-weight: 700;
}
.mainpage-text p{
    text-indent: 6%;
    word-spacing: 0.1vmax;
    text-align: justify;
}
.mainpage-text h2 + p, .mainpage-text h3 + p, .mainpage-text ul + p {
    text-indent: 0;
}
/* END Main Article */



/* Main Company Block Desktop */
.main-clients::before { /* Pseudo-class for layers performance */
    will-change: transform; /* For performance */
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 101%;
    width: 100%;
    background: -moz-linear-gradient(top, rgba(0,0,0,0.50), rgba(0,0,0,1));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.50), rgba(0,0,0,1));
    background: -o-linear-gradient(top, rgba(0,0,0,0.50), rgba(0,0,0,1));
    background: -ms-linear-gradient(top, rgba(0,0,0,0.50), rgba(0,0,0,1));
    background: linear-gradient(top, rgba(0,0,0,0.50), rgba(0,0,0,1));
    z-index: 1;
}
.main-clients {
    grid-template-columns: 15% 1fr 15%;
    width: 100%;
    height: 80vh;
    align-content: center;
    text-align: center;
    justify-content: center;
    justify-items: center;
    color:#fff;
    background: url(../../../i.industrial.kz/stat/i/main_subcover.jpg) center no-repeat fixed #22150f;
    overflow: hidden;
}
.main-clients > *{
    grid-column: 2;
    z-index: 3;
}
.main-clients h2{
    font-size: 2.5vmax;
    line-height: 1;
}
.main-clients p{
    font: 400 1.5vmax 'Circe Rounded', sans-serif;
    padding: 2vmax 0;
}

.main-clients .logos {
    grid-template-columns: repeat(5,1fr);
    grid-gap:10px;
    object-fit: none;
    text-align: center;
    padding: 1vmax 0;
}
.main-clients .logos > * {
    object-fit: none;
    justify-self:center;
    align-self:center;
    height: 54px;
    padding:1vmax;
}
.main-clients .logos img:nth-child(1){
    object-position: -2px -2px;
    width: 191px;
}
.main-clients .logos img:nth-child(2){
    object-position: -195px -2px;
    width: 89px;
}
.main-clients .logos img:nth-child(3){
    object-position: -2px -58px;
    width: 134px;
}
.main-clients .logos img:nth-child(4){
    object-position: -138px -58px;
    width: 128px;
}
.main-clients .logos img:nth-child(5){
    object-position: -268px -58px;
    width: 163px;
}
/* END Main Company Block Desktop */

.map-contacts {
    grid-template-columns: 1fr 1fr;
    height: 70vh;
    z-index: 1;
}
.ymap-container {
    overflow: hidden;
    background: url('../../../i.industrial.kz/stat/i/ya_map_psh.png') #fff9e8 no-repeat;
    background-position: center center;
    background-size: auto auto;
}
#map-yandex {
    width: 100%;
    height: 70vh;
    cursor: pointer;
}
/*Индикатор загрузки, который показывается до загрузки карты*/
.loader {
    position: absolute;
    top: -100%;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: #000;
    transition: opacity .3s ease;
    opacity: 0;
    background-color: rgba(29, 115, 191, .3);
}
.loader:after, .loader:before {
    box-sizing: border-box;
}
.loader.is-active {
    top: 0;
    opacity: 1;
}
.loader-default:after {
    position: absolute;
    top: calc(50% - 10px);
    left: calc(50% - 10px);
    width: 20px;
    height: 20px;
    content: '';
    -webkit-animation: rotation .3s linear infinite;
    animation: rotation .3s linear infinite;
    border: solid 4px #fff;
    border-left-color: transparent;
    border-radius: 50%;
}
@-webkit-keyframes rotation {
    from {transform: rotate(0);}
    to {transform: rotate(359deg);}
}
@keyframes rotation {
    from {transform: rotate(0);}
    to {transform: rotate(359deg);}
}
@-webkit-keyframes blink {
    from {opacity: .5;}
    to {opacity: 1;}
}
@keyframes blink {
    from {opacity: .5;}
    to {opacity: 1;}
}
.map-contacts .contacts {
    justify-self: center;
    align-self: center;
}
.map-contacts .contacts>*{
    width: 100%;
    padding: 1vmax;
}
.map-contacts .contacts h2{
    font-size: 2.5vmax;
}
.map-contacts .contacts p{
    font-size: 1.5vmax;
}
.map-contacts .contacts a{
    font-size: 2vmax;
    text-decoration: none;
}

.map-contacts .contacts a:first-child{
    color: #000;
}
.map-contacts .contacts a:first-child:hover{
    color: #25d366;
}
.map-contacts .contacts a:first-child:active{
    color: #25d366;
}


footer{
    grid-template-columns: 15% repeat(4, 1fr) 15%;
    background:#111;
    padding-bottom: 90px;
    color:#fff;
    -osx-font-smoothing: grayscale;
    z-index: 1;
}

footer .catalog-button {grid-column:1/7;}
footer .catalog-button + div {grid-column:2;}
footer h3 {
    font-size: 88.89%;
    text-transform: uppercase;
    color:#a1a1a1;
    margin-bottom:10px;
}
footer ul {
    list-style: none;
}
footer ul li {
    font-size: 77.78%;
    line-height: 2.4;
}
footer a, footer a:hover, footer a:visited{
    color:#fff;
}
footer a:active {
    color:#b0b0b0;
}
footer img{
    display: inline-block;
    width: 137px;
    padding: 0 40px;
}
footer p{
    font-size: 60%;
    color: #a1a1a1;
    padding: 10px 40px;
}
