/* for-desktop-up */
@media (min-width: 1200px) {
    .main-cover form {
        grid-template-columns: 15% 9fr 1fr 15%;
        column-gap: 1vmax;
    }
    .mainpage-text {
        grid-template-columns: 15% 1fr 15%;
    }
}

/*
-----------------------------
for-desktop-only */
@media (min-width: 1200px) and (max-width: 1799px) {
    #main-menu {
        width: 98%;
        grid-template-columns: 1vw 10.24vw 3fr 2.5vw auto 14vw 1vw;
        grid-template-rows: 4.37vw;
        height: 4.37vw;
        column-gap: 2vw;
        margin: .8% 0 0 1%;
    }
    .main-menu__logo-wrap {
        grid-column: 2;
        height: 3vw;
        grid-row: 1;
        grid-auto-rows: 1fr;
        }
    #main-menu nav {
        font-size: 1.3vw;
        grid-row: 1;
        grid-column: 3;
        grid-auto-rows: 1fr;
    }
    #main-menu nav ul li {
        padding: 0 0.8vw;
    }
    #main-menu .whatsapp {
        grid-column: 4;
        height: 2.5vw;
        width: 100%;
    }
    #main-menu .top-phone span{
        font-size: .86vw;
    }
    #main-menu .top-phone a{
        font-size: 1.3vw;
    }
    #main-menu .callback {
        width: 162px;
        line-height: 42px;
    }
    #main-menu .callback {
        width: 100%;
        height: 3vw;
        font-size: 1.2vw;
        line-height: 2.7vw;
    }
    .main-cover h1 {
        font-size: 5vmax;
        line-height: 1;
    }
    .main-cover p {
        font-size: 3vmax;
        margin-bottom: 4vmax;
        line-height: 1.75;
    }
    .main-cover form * {height: 6vmax;}
    .main-cover form input {
        padding: 0 3vmax;
        font-size: 2.2vmax;
    }
    .main-cover form input::placeholder {
        font-size: 2.2vmax;
    }
    .main-cover form button {
        font-size: 2.5vmax;
    }
    .mainpage-text .article-content{
        column-count: 2;
        column-gap: 3vmax;
        margin-bottom: 4vmax;
        column-rule: 1px dotted #ccc;
    }
    .mainpage-text h2 {
        font-size: 2.8vmax;
        font-weight: 400;
        padding: 2vmax 0;
    }
    .mainpage-text figcaption {
        font-size: 1vmax;
        padding-top: .5vmax;
    }
    .mainpage-text h3{
        font-size: 1.7vmax;
        font-weight: 400;
        padding: 0 2vmax .5vmax;
    }
    .mainpage-text h4{
        font-size: 1.2vmax;
        font-weight: 700;
        padding: 1vmax 2vmax .2vmax;
    }
    .mainpage-text p{
        font-size: 1.3vmax;
        padding: 0 2vmax 3vmax;
    }
    .mainpage-text ul {
        font-size: 1.2vmax;
        padding: 0 3vmax 2vmax;
    }
    .mainpage-text ul > li{padding-bottom: .4vmax;}
}

/*
-----------------------------
for-big-desktop-up */
@media (min-width: 1800px) {
    #main-menu {
        width: 98%;
        grid-template-columns: 10vw 8.3vw 3fr 2.2vw auto 10vw 10vw;
        grid-template-rows: 3.6vw;
        height: 3.6vw;
        column-gap: 1vw;
        margin: .8% 0 0 1%;
    }
    .main-menu__logo-wrap {justify-content: center;
        grid-column: 2;
        height: 2.4vw;
        grid-row: 1;
        }
    #main-menu nav {
        font-size: 0.96vw;
        grid-row: 1;
        grid-column: 3;
        grid-auto-rows: 1fr;
    }
    #main-menu nav ul li {
        padding: 0 0.8vw;
    }
    #main-menu .whatsapp {
        grid-column: 4;
        height: 2.2vw;
        width: 100%;
    }
    #main-menu .top-phone span{
        font-size: .7vw;
    }
    #main-menu .top-phone a{
        font-size: 1.1vw;
    }
    #main-menu .callback {
        width: 162px;
        line-height: 42px;
    }
    #main-menu .callback {
        width: 100%;
        height: 2.4vw;
        font-size: .9vw;
        line-height: 2.2vw;
    }
    .main-cover {grid-template-columns: 15% 1fr 15%;}
    .main-cover h1 {
        font-size: 4vmax;
        line-height: 1;
        margin-bottom: 2vmax;
    }
    .main-cover p {
        font-size: 2.5vmax;
        margin-bottom: 4vmax;
        line-height: 1.75;
    }
    .main-cover form * {height: 4vmax;}
    .main-cover form input {
        padding: 0 2vmax;
        font-size: 1.5vmax;
    }
    .main-cover form input::placeholder {
        font-size: 1.5vmax;
    }
    .main-cover form button {
        font-size: 1.7vmax;
    }
    .mainpage-text .article-content{
        column-count: 2;
        column-gap: 3vmax;
        margin-bottom: 4vmax;
        column-rule: 1px dotted #ccc;
    }
    .mainpage-text h2 {
        font-size: 2vmax;
        padding: 2vmax 0;
    }
    .mainpage-text figcaption {
        font-size: .8vmax;
        padding-top: .5vmax;
    }
    .mainpage-text h3{
        font-size: 1.4vmax;
        font-weight: 400;
        padding: 0 2vmax .5vmax;
    }
    .mainpage-text h4{
        font-size: .9vmax;
        font-weight: 700;
        padding: 1vmax 2vmax .2vmax;
    }
    .mainpage-text p{
        font-size: 1vmax;
        padding: 0 2vmax 2vmax;
    }
    .mainpage-text ul {
        font-size: .9vmax;
        padding: 0 3vmax 2vmax;
    }
    .mainpage-text ul > li{padding-bottom: .4vmax;}
    /* END Main Article */
}
