/*
-----------------------------
Desktop Style
-----------------------------
*/
/* for-desktop-up */
@media (min-width: 1200px) {}

/*
-----------------------------
for-desktop-only */
@media (min-width: 1200px) and (max-width: 1799px) {
    .main-menu {
        width: 98%;
        grid-template-columns: 1vw 10.24vw 3fr 2.5vw auto 14vw 1vw;
        grid-template-rows: 4.37vw;
        height: 4.37vw;
        column-gap: 2vw;
        margin: .8% 0 0 1%;
    }

    .main-menu__logo-wrap {
        grid-column: 2;
        height: 3vw;
        grid-row: 1;
        grid-auto-rows: 1fr;
    }

    .main-menu nav {
        font-size: 1.3vw;
        grid-row: 1;
        grid-column: 3;
        grid-auto-rows: 1fr;
    }

    .main-menu nav ul li {
        padding: 0 0.8vw;
    }

    .main-menu .whatsapp {
        grid-column: 4;
        height: 2.5vw;
        width: 100%;
    }

    .main-menu .top-phone span {
        font-size: .86vw;
    }

    .main-menu .top-phone a {
        font-size: 1.3vw;
    }

    .main-menu .callback {
        width: 162px;
        line-height: 42px;
    }

    .main-menu .callback {
        width: 100%;
        height: 3vw;
        font-size: 1.2vw;
        line-height: 2.7vw;
    }

    .catalog-button {
        padding: 40px 10px;
    }

    .catalog-button a {
        font-size: 1.5vmax;
        max-width: 50vmax;
        padding: 1.5vmax 2vmax;
    }

    .map-contacts {
        grid-template-columns: 1fr 1fr;
        height: 70vh;
    }

    .ymap-container {
        background-position: center center;
    }

    #map-yandex {
        height: 70vh;
    }

    .map-contacts .contacts>* {
        padding: 1vmax;
    }

    .map-contacts .contacts h2 {
        font-size: 2.5vmax;
    }

    .map-contacts .contacts p {
        font-size: 1.5vmax;
    }

    .map-contacts .contacts a {
        font-size: 2vmax;
    }

    footer {
        grid-template-columns: 1.8vw repeat(4, 1fr) 1.8vw;
        column-gap: 2vw;
        padding-bottom: 15vmin;
    }

    footer .catalog-button {
        grid-column: 1/7;
        height: 8vh;
    }

    footer .catalog-button a {
        font-size: 1.3vmax;
        max-width: 100%;
        padding: 1.5vmax 2.5vmax;
    }

    footer .copy {
        grid-column: 2;
    }

    .copy {
        grid-template-columns: repeat(4, 1fr);
        max-width: 20vmax;
        grid-gap: 1.2vmax;
        height: 0;
    }

    .copy p {
        grid-column: 1/4;
        font-size: 1vmax;
    }

    .copy div {
        grid-column: 1/4;
    }

    .icon-youtube,
    .icon-insta,
    .icon-vk {
        width: 3vmax;
        height: 3vmax;
    }

    footer h3 {
        font-size: 1.5vmax;
        margin-bottom: 1vmax;
    }

    footer ul li {
        font-size: 1vmax;
        line-height: 2.5
    }
}

/*
-----------------------------
for-big-desktop-up */
@media (min-width: 1800px) {
    .main-menu {
        width: 98%;
        grid-template-columns: 10vw 8.3vw 3fr 2.2vw auto 10vw 10vw;
        grid-template-rows: 3.6vw;
        height: 3.6vw;
        column-gap: 1vw;
        margin: .8% 0 0 1%;
    }

    .main-menu__logo-wrap {
        justify-content: center;
        grid-column: 2;
        height: 2.4vw;
        grid-row: 1;
    }

    .main-menu nav {
        font-size: 0.96vw;
        grid-row: 1;
        grid-column: 3;
        grid-auto-rows: 1fr;
    }

    .main-menu nav ul li {
        padding: 0 0.8vw;
    }

    .main-menu .whatsapp {
        grid-column: 4;
        height: 2.2vw;
        width: 100%;
    }

    .main-menu .top-phone span {
        font-size: .7vw;
    }

    .main-menu .top-phone a {
        font-size: 1.1vw;
    }

    .main-menu .callback {
        width: 162px;
        line-height: 42px;
    }

    .main-menu .callback {
        width: 100%;
        height: 2.4vw;
        font-size: .9vw;
        line-height: 2.2vw;
    }

    .catalog-button {
        padding: 40px 10px;
    }

    .catalog-button a {
        font-size: 1vmax;
        max-width: 50vmax;
        padding: 1.2vmax 1.5vmax;
    }

    .map-contacts {
        grid-template-columns: 1fr 1fr;
        height: 70vh;
    }

    #map-yandex {
        height: 70vh;
    }

    .map-contacts .contacts>* {
        padding: 1vmax;
    }

    .map-contacts .contacts h2 {
        font-size: 2.5vmax;
    }

    .map-contacts .contacts p {
        font-size: 1.5vmax;
    }

    .map-contacts .contacts a {
        font-size: 2vmax;
    }

    footer {
        grid-template-columns: 10vw repeat(4, 1fr) 10vw;
        column-gap: 2vw;
        padding-bottom: 4vmax;
    }

    footer .catalog-button {
        grid-column: 1/7;
        height: 10vh;
    }

    footer .copy {
        grid-column: 2;
    }

    .copy {
        grid-template-columns: repeat(3, 1fr) 2fr;
        max-width: 3vmax;
        grid-gap: 1.5vmax;
        height: 0;
    }

    .copy p {
        grid-column: 1/4;
        font-size: .7vmax;
    }

    .copy div {
        grid-column: 1/4;
    }

    .icon-youtube,
    .icon-insta,
    .icon-vk {
        width: 2.5vmax;
        height: 2.5vmax;
    }

    footer h3 {
        font-size: 1vmax;
        margin-bottom: 1vmax;
    }

    footer ul li {
        font-size: .8vmax;
        line-height: 2.5
    }
}
