/*
-----------------------------
Desktop Style
-----------------------------
*/
/* for-desktop-up */
@media (min-width: 1200px) {
    .main-menu__logo {justify-content: center;}
    .main-menu nav {
        grid-column: 3;
        grid-row: 1;
        justify-content: start;
    }
    .main-menu nav ul li {padding: 0 0.8vw;}

    .whatsapp {grid-column: 4;}

    .main-menu__phone {grid-column: 5;}
    .callback {grid-column: 6;}

    .catalog-items figure {min-height: 12vmax;}
    .catalog-items img {min-height: 10vmax;}
    .catalog-categories {grid-template-columns: 10vw repeat(3, 1fr) 10vw;}
    .catalog-categories figcaption {
        padding: 1.2vmax;
        font-size: 1.5vw;
    }
    .catalog-items h2 {
        font-size: 1.5vw;
        margin-bottom: .3vmax;
    }
    .catalog-items p {font-size: 1.2vw;}

    /* Article */
    .article {grid-template-columns: 12% 1fr 12%;}
    .article h2 {
        margin-top:2vmax;
        font-weight: 400;
    }
    .article h3 {font-weight: 400;}
    .article ul > li {padding-bottom: .4vmax;}
}

/*
-----------------------------
for-desktop-only */
@media (min-width: 1200px) and (max-width: 1799px) {
    .main-menu {
        grid-template-columns: 0 10.24vw 3fr 2.5vw auto 0.8fr 0;
        grid-template-rows: 4.5vw;
        height: 4.5vw;
    }
    .main-menu__logo {height: 3vw;}
    .main-menu nav {font-size: 1.3vw;}

    .whatsapp {height: 2.5vw;}

    .main-menu__phone {grid-template-rows: 2.5vw;}
    .main-menu__phone a {font-size: 1.3vw;}
    .main-menu__phone span {font-size: .86vw;}

    .callback {
        height: 3vw;
        font-size: 1.2vw;
        line-height: calc(3vw - 6px);
    }

    /* Article */
    .article h2 {font-size: 2.8vmax;}
    .article figcaption {font-size: 1.4vmax;}
    .article h3 {font-size: 2.5vmax;}
    .article h4 {font-size: 1.7vmax;}
    .article p {
        font-size: 1.8vmax;
        padding: 0 2vmax 3vmax;
    }
    .article ul {font-size: 1.7vmax;}

    .catalog-button {padding: 40px 10px;}

    .catalog-button a {
        font-size: 1.5vmax;
        max-width: 50vmax;
        padding: 1.5vmax 2vmax;
    }

    .map-contacts {
        grid-template-columns: 1fr 1fr;
        height: 70vh;
    }

    .ymap-container {background-position: center center;}

    #map-yandex {height: 70vh;}
    .map-contacts .contacts>* {padding: 1vmax;}
    .map-contacts .contacts h2 {font-size: 2.5vmax;}
    .map-contacts .contacts p {font-size: 1.5vmax;}
    .map-contacts .contacts a {font-size: 2vmax;}

    footer {
        grid-template-columns: 1.8vw repeat(4, 1fr) 1.8vw;
        column-gap: 2vw;
        padding-bottom: 15vmin;
    }

    footer .catalog-button {
        grid-column: 1/7;
        height: 8vh;
    }

    footer .catalog-button a {
        font-size: 1.3vmax;
        max-width: 100%;
        padding: 1.5vmax 2.5vmax;
    }

    footer .copy {grid-column: 2;}

    .copy {
        grid-template-columns: repeat(4, 1fr);
        max-width: 20vmax;
        grid-gap: 1.2vmax;
        height: 0;
    }

    .copy p {
        grid-column: 1/4;
        font-size: 1vmax;
    }

    .copy div {grid-column: 1/4;}

    .icon-youtube,
    .icon-insta,
    .icon-vk {
        width: 3vmax;
        height: 3vmax;
    }

    footer h3 {
        font-size: 1.5vmax;
        margin-bottom: 1vmax;
    }

    footer ul li {
        font-size: 1vmax;
        line-height: 2.5
    }
}

/*
-----------------------------
for-big-desktop-up */
@media (min-width: 1800px) {
    .main-menu {
        grid-template-columns: 10vw 8.3vw 3fr 2vw auto 10vw 10vw;
        grid-template-rows: 3.6vw;
        height: 3.6vw;
        column-gap: 1vw;
    }
    .main-menu__logo {height: 2.4vw;}
    .main-menu nav {font-size: 0.96vw;}

    .whatsapp {height: 2vw;}

    .main-menu__phone {grid-template-rows: 2.1vw;}
    .main-menu__phone a {font-size: 1.1vw;}
    .main-menu__phone span {font-size: .7vw;}
    .callback {
        height: 2.4vw;
        font-size: .9vw;
        line-height: calc(2.4vw - 6px);
    }
    .catalog-categories {grid-template-columns: 10vw repeat(3, 1fr) 10vw;}
    .catalog-categories figcaption {
        padding: 1vmax;
        font-size: 1.2vw;
    }
    .catalog-items h2 {
        font-size: 1.2vw;
        margin-bottom: .3vmax;
    }
    .catalog-items p {font-size: .9vw;}

    /* Article */
    .article figcaption {font-size: 1vmax;}
    .article h2 {font-size: 2.4vmax;}
    .article h3 {font-size: 1.6vmax;}
    .article h4 {font-size: 1vmax;}
    .article p {
        font-size: 1.2vmax;
        padding: 0 2vmax 2vmax;
    }
    .article ul {font-size: 1vmax;}


    .catalog-button {padding: 40px 10px;}
    .catalog-button a {
        font-size: 1vmax;
        max-width: 50vmax;
        padding: 1.2vmax 1.5vmax;
    }
    .map-contacts {
        grid-template-columns: 1fr 1fr;
        height: 70vh;
    }

    #map-yandex {height: 70vh;}
    .map-contacts .contacts > * {padding: 1vmax;}
    .map-contacts .contacts h2 {font-size: 2.5vmax;}
    .map-contacts .contacts p {font-size: 1.5vmax;}
    .map-contacts .contacts a {font-size: 2vmax;}

    footer {
        grid-template-columns: 10vw repeat(4, 1fr) 10vw;
        column-gap: 2vw;
        padding-bottom: 4vmax;
    }

    footer .catalog-button {
        grid-column: 1/7;
        height: 10vh;
    }

    footer .copy {grid-column: 2;}

    .copy {
        grid-template-columns: repeat(3, 1fr) 2fr;
        max-width: 3vmax;
        grid-gap: 1.5vmax;
        height: 0;
    }

    .copy p {
        grid-column: 1/4;
        font-size: .7vmax;
    }
    .copy div {grid-column: 1/4;}

    .icon-youtube,
    .icon-insta,
    .icon-vk {
        width: 2.5vmax;
        height: 2.5vmax;
    }

    footer h3 {
        font-size: 1vmax;
        margin-bottom: 1vmax;
    }

    footer ul li {
        font-size: .8vmax;
        line-height: 2.5
    }
}
