/* Medium devices (landscape tablets, 420px and up) */
@media only screen and (max-width: 420px) {
    #top-menu {
        grid-template-columns: 0 auto 1fr auto auto auto 0;
        grid-template-rows: minmax(60px,15vh);
        min-height: 60px;
        max-height: 15vh;
        width: 96%;
        margin: 1.8% 0 0 2%;
        border-radius: 20px;
    }
    #top-menu nav {
        font-size: 90%;
    }
    #top-menu nav ul li:nth-child(2), #top-menu nav ul li:nth-child(3), #top-menu nav ul li:nth-child(4) {
        display: none;
    }
    #top-menu nav ul li {
      padding-right: 8%;
    }
}
#top-menu .callback::before{
    content: 'Заказать \A звонок'
}
#top-menu .callback {
    background:#1d73bf; height: 70%; width: 100%;
    display:block;
    position: relative;
    padding:1%;
    border-radius: 50px;
    font-size:130%;
    font-weight: 700;
    white-space:  pre-wrap;
    text-transform: uppercase;
    line-height: 1.1;
    color: #fff;
}


/* Medium devices (landscape tablets, 800px and up) */
@media only screen and (max-width: 800px) {
    #top-menu {
        grid-template-columns: 0 auto 1fr minmax(60px,7vh) auto auto 0;
    }
    #top-menu nav {
        font-size: 90%;
    }
    #top-menu nav ul li:nth-child(2), #top-menu nav ul li:nth-child(3), #top-menu nav ul li:nth-child(4) {
        display: none;
    }
    #top-menu nav ul li {
      padding-right: 8%;
    }
}
