/*
-----------------------------
Tablet Style
-----------------------------
*/
/* for-tablet-portrait-up */
@media (min-width: 600px) {}

/*
-----------------------------
for-tablet-portait-only */
@media (min-width: 600px) and (max-width: 899px) {
    .main-menu {
        grid-template-columns: 1% 1fr 7vmin auto 1fr 1%;
        grid-template-rows: 10vmin;
        height: 20vmin;
        column-gap: 1.8vmin;
    }

    .main-menu__logo-wrap {
        grid-column: 2;
        height: 6vmin;
        grid-row: 1;
        grid-auto-rows: 1fr;
    }

    .main-menu nav {
        grid-row: 2;
        grid-column: 2/6;
        font-size: 3vmin;
        grid-auto-rows: 1fr;
        justify-content: center;
    }

    .main-menu nav ul li {
        padding: 0 1.4vmin;
    }

    .main-menu .whatsapp {
        grid-column: 3;
        height: 7vmin;
        width: 100%;
        grid-row: 1;
    }

    .main-menu .top-phone {
        grid-column: 4;
        display: inline-grid;
        grid-template-columns: 1fr;
        grid-template-rows: 5vmin;
        height: 100%;
        column-gap: 0;
        white-space: normal;
        letter-spacing: -0.5px;
        align-items: center;
        align-self: center;
        text-align: end;
        grid-row: 1;
        margin-top: auto;
    }

    .main-menu .top-phone span {
        font-size: 2vmin;
        grid-row: 2;
        align-self: start;
    }

    .main-menu .top-phone a {
        align-self: end;
        font-size: 3vmin;
        grid-row: 1;
        color: #000;
        grid-column: 1/2;
    }

    .main-menu .callback {
        grid-column: 5;
        grid-row: 1;
        width: 100%;
        max-width: 200px;
        height: 7vmin;
        line-height: 7vmin;
    }

    .catalog-button a {
        font-size: 2.8vmax;
        max-width: 90%;
        padding: 3.5vmax 2.5vmax;
    }

    .map-contacts {
        grid-template-columns: 1fr;
        height: 140vmax;
    }

    .ymap-container {
        height: 70vmax;
        background-position: center center;
    }

    #map-yandex {
        height: 70vmax;
    }

    .map-contacts .contacts {
        height: 60vmax;
        padding: 4vmax;
    }

    .map-contacts .contacts>* {
        padding: .5vmax 0;
    }

    .map-contacts .contacts h2 {
        font-size: 5vmax;
    }

    .map-contacts .contacts p {
        font-size: 3vmax;
    }

    .map-contacts .contacts a {
        font-size: 5vmax;
    }

    footer {
        grid-template-columns: 5% 1fr 1fr 5%;
        column-gap: 0;
        padding-bottom: 15vmax;
    }

    footer .catalog-button {
        grid-column: 2/4;
        height: 18vmax;
    }

    footer .catalog-button a {
        font-size: 3vmax;
        max-width: 100%;
        padding: 3vmax 4vmax;
    }

    footer div {
        grid-column: 2;
    }

    footer div:nth-child(2n+2) {
        grid-column: 3;
    }

    .copy {
        grid-template-columns: repeat(3, 1fr);
        max-width: 90vmax;
        grid-gap: 2vmax;
        height: auto;
        grid-row: 3;
        margin-top: 5vmax;
        text-align: center;
        justify-items: center;
    }

    .copy p {
        grid-column: 1/4;
        font-size: 2vmax;
    }

    .copy div {
        grid-column: 1/4;
        margin-top: 2vmax;
    }

    .icon-youtube,
    .icon-insta,
    .icon-vk {
        width: 8vmax;
        height: 8vmax;
        margin-bottom: 2vmax;
    }

    footer h3 {
        font-size: 4vmax;
        margin-top: 5vmax;
        margin-bottom: 1vmax;
    }

    footer ul li {
        font-size: 2.4vmax;
        line-height: 2;
    }
}

/* for-tablet-landscape-up */
@media (min-width: 900px) {
    .main-menu {
        position: fixed;
    }
}

/*
-----------------------------
for-tablet-landscape-only */
@media (min-width: 900px) and (max-width: 1199px) {
    .main-menu {
        grid-template-columns: 3vmin 1fr 6vmin auto 1fr 3vmin;
        grid-template-rows: 8vmin;
        height: 16vmin;
        column-gap: 3vmin;
    }

    .main-menu__logo-wrap {
        grid-column: 2;
        height: 6vmin;
        grid-row: 1;
        grid-auto-rows: 1fr;
    }

    .main-menu nav {
        grid-row: 2;
        grid-column: 2/6;
        font-size: 2.5vmin;
        grid-auto-rows: 1fr;
        justify-content: center;
    }

    .main-menu nav ul li {
        padding: 0 5vmin;
    }

    .main-menu .whatsapp {
        grid-column: 3;
        height: 6vmin;
        width: 100%;
        grid-row: 1;
    }

    .main-menu .top-phone {
        grid-column: 4;
        display: inline-grid;
        grid-template-columns: 1fr;
        grid-template-rows: 5vmin;
        height: 100%;
        column-gap: 0;
        white-space: normal;
        letter-spacing: -0.5px;
        align-items: center;
        align-self: center;
        text-align: end;
        grid-row: 1;
        margin-top: auto;
    }

    .main-menu .top-phone span {
        font-size: 2vmin;
        grid-row: 2;
        align-self: start;
    }

    .main-menu .top-phone a {
        align-self: end;
        font-size: 3vmin;
        grid-row: 1;
        color: #000;
        grid-column: 1/2;
    }

    .main-menu .callback {
        grid-column: 5;
        grid-row: 1;
        width: 100%;
        max-width: 200px;
        height: 6vmin;
        font-size: 2.5vmin;
        line-height: 6vmin;
    }

    .catalog-button a {
        font-size: 2.8vmax;
        max-width: 90%;
        padding: 3.5vmax 2.5vmax;
    }

    .map-contacts {
        grid-template-columns: 1fr 1fr;
        height: 50vmax;
    }

    .ymap-container {
        background-position: center center;
    }

    #map-yandex {
        height: 50vmax;
    }

    .map-contacts .contacts {
        padding: 4vmax;
    }

    .map-contacts .contacts>* {
        padding: .5vmax 0;
    }

    .map-contacts .contacts h2 {
        font-size: 2.3vmax;
    }

    .map-contacts .contacts p {
        font-size: 1.5vmax;
    }

    .map-contacts .contacts a {
        font-size: 2.3vmax;
    }

    footer {
        grid-template-columns: 5% repeat(3, 1fr) 5%;
        column-gap: 0;
        padding-bottom: 10vmax;
    }

    footer .catalog-button {
        grid-column: 2/5;
        height: 14vmax;
    }

    footer .catalog-button a {
        font-size: 2vmax;
        max-width: 100%;
        padding: 2vmax 3vmax;
    }

    footer div:nth-child(3) {
        grid-column: 2;
    }

    footer div:nth-child(4) {
        grid-column: 3;
    }

    footer div:nth-child(5) {
        grid-column: 4;
    }

    .copy {
        grid-column: 2/5;
        grid-template-columns: repeat(3, 1fr);
        max-width: 50vmax;
        grid-gap: 0;
        height: auto;
        grid-row: 3;
        margin-top: 5vmax;
        text-align: center;
        justify-items: center;
        justify-self: center;
    }

    .copy p {
        grid-column: 1/4;
        font-size: 1.5vmax;
    }

    .copy div {
        grid-column: 1/4;
        margin-top: 2vmax;
        margin-bottom: 8vmax;
    }

    .icon-youtube,
    .icon-insta,
    .icon-vk {
        width: 6vmax;
        height: 6vmax;
        margin-bottom: 2vmax;
    }

    footer h3 {
        font-size: 2.4vmax;
        margin-top: 2vmax;
        margin-bottom: 1vmax;
    }

    footer ul li {
        font-size: 1.6vmax;
        line-height: 2;
    }
}
