/*
-----------------------------
Tablet Style
-----------------------------
*/
/* for-tablet-portrait-up */
@media (min-width: 600px) {
    .main-menu {column-gap: 2vw;}
    .main-menu nav {
        grid-row: 2;
        grid-column: 2/6;
        justify-content: center;
    }
    .main-menu__phone a {
        align-self: end;
        font-weight: 400;
    }
    .main-menu__phone span {
        display: inline-grid;
        align-self: start;
        grid-row: 2;
    }
    .callback {
        display: inline-grid;
        grid-row: 1;
    }
    .catalog-categories figcaption {
        font-size: 3vw;
        font-weight: 400;
    }
    .catalog-items h2 {font-size: 3.3vw;}
    .catalog-items p {font-size: 2.3vw;}

    /* Article */
    .article figcaption {text-align: right;}
    .article p {text-align: justify;}
    .article h3 {text-align: center;}
}

/*
-----------------------------
for-tablet-portait-only */
@media (min-width: 600px) and (max-width: 899px) {
    .main-menu {
        grid-template-columns: 1vw 1fr 7vw auto 1fr 1vw;
        grid-template-rows: 10vw;
        height: 20vw;
    }
    .main-menu__logo {height: 7vw;}

    .main-menu nav {font-size: 3vw;}
    .main-menu nav ul li {padding: 0 1.4vw;}

    .whatsapp {height: 7vw;}

    .main-menu__phone {grid-template-rows: 6vw;}
    .main-menu__phone a {
        font-size: 3vw;
        grid-row: 1;
    }
    .main-menu__phone span {font-size: 2vw;}
    .callback {
        max-width: 200px;
        height: 7vw;
        line-height: calc(7vw - 6px);
        font-size: 100%;
    }

    .catalog-button a {
        font-size: 2.8vmax;
        max-width: 90%;
        padding: 3.5vmax 2.5vmax;
    }

    .map-contacts {
        grid-template-columns: 1fr;
        height: 140vmax;
    }

    .ymap-container {
        height: 70vmax;
        background-position: center center;
    }

    #map-yandex {height: 70vmax;}

    .map-contacts .contacts {
        height: 60vmax;
        padding: 4vmax;
    }

    .map-contacts .contacts>* {padding: .5vmax 0;}
    .map-contacts .contacts h2 {font-size: 5vmax;}
    .map-contacts .contacts p {font-size: 3vmax;}
    .map-contacts .contacts a {font-size: 5vmax;}

    footer {
        grid-template-columns: 5% 1fr 1fr 5%;
        column-gap: 0;
        padding-bottom: 15vmax;
    }

    footer .catalog-button {
        grid-column: 2/4;
        height: 18vmax;
    }

    footer .catalog-button a {
        font-size: 3vmax;
        max-width: 100%;
        padding: 3vmax 4vmax;
    }

    footer div {grid-column: 2;}
    footer div:nth-child(2n+2) {grid-column: 3;}

    .copy {
        grid-template-columns: repeat(3, 1fr);
        max-width: 90vmax;
        grid-gap: 2vmax;
        height: auto;
        grid-row: 3;
        margin-top: 5vmax;
        text-align: center;
        justify-items: center;
    }

    .copy p {
        grid-column: 1/4;
        font-size: 2vmax;
    }

    .copy div {
        grid-column: 1/4;
        margin-top: 2vmax;
    }

    .icon-youtube,
    .icon-insta,
    .icon-vk {
        width: 8vmax;
        height: 8vmax;
        margin-bottom: 2vmax;
    }

    footer h3 {
        font-size: 4vmax;
        margin-top: 5vmax;
        margin-bottom: 1vmax;
    }

    footer ul li {
        font-size: 2.4vmax;
        line-height: 2;
    }
}

/* for-tablet-landscape-up */
@media (min-width: 900px) {
    .main-menu {
        position: fixed;
        border-radius: 10px;
        width: 98%;
        margin: 1vw 1vw 0;
    }
    .catalog-categories {grid-template-columns: 1vw repeat(3, 1fr) 1vw;}
    .catalog-categories a:nth-of-type(3n+1) {/* each 1 */ grid-column: 2;}
    .catalog-categories a:nth-of-type(3n+2) {/* each 2 */ grid-column: 3;}
    .catalog-categories a:nth-of-type(3n) {/* each 3*/ grid-column: 4;}
    .catalog-categories figcaption {
        font-size: 2vw;
        padding: 1vmax;
    }
    .catalog-items h2 {
        font-size: 2vw;
        margin-bottom: .5vmax;
    }
    .catalog-items p {font-size: 1.5vw;}

    /* Article */
    .article {grid-template-columns: 3% 1fr 3%;}
    .article .article-content {
        column-count: 2;
        column-gap: 3vmax;
        column-rule: 1px dotted #ccc;
    }
    .article h2 {padding: 2vmax 0;}
    .article h3 {padding: 1vmax 2vmax .5vmax;}
    .article figcaption {
        font-size: 1.8vmax;
        padding-top: .5vmax;
        padding-bottom: 1vmax;
    }
    .article ul {padding: 0 3vmax 2vmax;}
}

/*
-----------------------------
for-tablet-landscape-only */
@media (min-width: 900px) and (max-width: 1199px) {
    .main-menu {
        grid-template-columns: 0 1fr 3.5vw auto 1fr 0;
        grid-template-rows: 5vw;
        height: 10vw;
    }
    .main-menu__logo {height: 3.5vw;}
    .main-menu nav {font-size: 2vw;}
    .main-menu nav ul li {padding: 0 2.5vw;}

    .whatsapp {height: 3.5vw;}

    .main-menu__phone {grid-template-rows: 3vw;}
    .main-menu__phone a {font-size: 2vw;}
    .main-menu__phone span {font-size: 1.3vw;}

    .callback {
        max-width: 180px;
        height: 3.5vw;
        font-size: 90%;
        line-height: calc(3.5vw - 6px);
    }

    .catalog-button a {
        font-size: 2.8vmax;
        max-width: 90%;
        padding: 3.5vmax 2.5vmax;
    }

    /* Article */
    .article h2 {font-size: 5vmax;}
    .article h3 {font-size: 3.5vmax;}
    .article h4 {font-size: 2.3vmax;}
    .article p {font-size: 2.5vmax;}
    .article ul {font-size: 2.3vmax;}
    .article ul > li {padding-bottom: .4vmax;}

    .map-contacts {
        grid-template-columns: 1fr 1fr;
        height: 50vmax;
    }

    .ymap-container {background-position: center center;}

    #map-yandex {height: 50vmax;}

    .map-contacts .contacts {padding: 4vmax;}
    .map-contacts .contacts>* {padding: .5vmax 0;}
    .map-contacts .contacts h2 {font-size: 2.3vmax;}
    .map-contacts .contacts p {font-size: 1.5vmax;}
    .map-contacts .contacts a {font-size: 2.3vmax;}

    footer {
        grid-template-columns: 5% repeat(3, 1fr) 5%;
        column-gap: 0;
        padding-bottom: 10vmax;
    }

    footer .catalog-button {
        grid-column: 2/5;
        height: 14vmax;
    }

    footer .catalog-button a {
        font-size: 2vmax;
        max-width: 100%;
        padding: 2vmax 3vmax;
    }

    footer div:nth-child(3) {grid-column: 2;}
    footer div:nth-child(4) {grid-column: 3;}
    footer div:nth-child(5) {grid-column: 4;}

    .copy {
        grid-column: 2/5;
        grid-template-columns: repeat(3, 1fr);
        max-width: 50vmax;
        grid-gap: 0;
        height: auto;
        grid-row: 3;
        margin-top: 5vmax;
        text-align: center;
        justify-items: center;
        justify-self: center;
    }

    .copy p {
        grid-column: 1/4;
        font-size: 1.5vmax;
    }

    .copy div {
        grid-column: 1/4;
        margin-top: 2vmax;
        margin-bottom: 8vmax;
    }

    .icon-youtube,
    .icon-insta,
    .icon-vk {
        width: 6vmax;
        height: 6vmax;
        margin-bottom: 2vmax;
    }

    footer h3 {
        font-size: 2.4vmax;
        margin-top: 2vmax;
        margin-bottom: 1vmax;
    }

    footer ul li {
        font-size: 1.6vmax;
        line-height: 2;
    }
}
