/*
-----------------------------
Index Tablet Style
-----------------------------
*/
/* for-tablet-portrait-up */
@media (min-width: 600px) {
    .mainpage-text figcaption {
        text-align: right;
    }

    .main-cover form button {
        background-size: 40%;
    }

    .main-clients {
        background: url(../../../i.industrial.kz/stat/i/main_subcover-tab.jpg) center no-repeat fixed #22150f;
        background-size: cover;
    }
}

/*
-----------------------------
for-tablet-portait-only */
@media (min-width: 600px) and (max-width: 899px) {
    .main-cover h1 {
        font-size: 5.5vmax;
        line-height: 1;
        margin-bottom: 2vmax;
    }

    .main-cover p {
        font-size: 3vmax;
        margin-bottom: 3vmax;
        line-height: 1.2;
    }

    .main-cover form {
        grid-template-columns: 7fr 1fr;
        column-gap: 1vmax;
    }

    .main-cover form * {
        height: 11vmax;
    }

    .main-cover form input {
        grid-column: 1;
        padding: 0 5vmax;
        font-size: 3.4vmax;
    }

    .main-cover form input::placeholder {
        font-size: 3.4vmax;
    }

    .main-cover form button {
        grid-column: 2;
        font-size: 3.5vmax;
    }

    .catalog-category-items {
        grid-row-gap: 4vmax;
        padding: 8vmax 0 4vmax;
    }

    .catalog-category-items figcaption {
        font-size: 4vmax;
        padding: 2vmax;
    }

    .catalog-category-items a:nth-child(4),
    .catalog-category-items a:nth-child(5),
    .catalog-category-items a:nth-child(6) {
        display: none;
    }

    .catalog-category-items aside {
        grid-column: 1/4;
        padding: 25vmax 0 10vmax;
    }

    .main-clients {
        grid-template-columns: 5% 1fr 5%;
        height: 100vh;
    }

    .main-clients>* {
        grid-column: 2;
    }

    .main-clients h2 {
        font-size: 4vmax;
        margin-bottom: 2vmax;
    }

    .main-clients p {
        font-size: 2.8vmax;
    }

    .main-clients .logos {
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 1vmax;
        padding: 1vmax 0;
        margin-bottom: 2vmax;
    }

    .main-clients .logos>* {
        height: 34px;
        padding: 1vmax;
    }

    .main-clients .catalog-button {
        width: 100%;
    }

    .main-clients .catalog-button a {
        font-size: 2.5vmax;
    }
}

/* for-tablet-landscape-up */
@media (min-width: 900px) {
    .main-cover form input {
        grid-column: 2;
    }

    .main-cover form button {
        grid-column: 3;
    }

    .catalog-category-items {
        grid-template-columns: 0 1fr 1fr 0;
    }

    .main-cover {
        background: url(../../../i.industrial.kz/stat/i/cover2-500.webp) center no-repeat;
        background-size: cover;
    }
}

/*
-----------------------------
for-tablet-landscape-only */
@media (min-width: 900px) and (max-width: 1199px) {
    .main-cover h1 {
        font-size: 5.5vmax;
        line-height: 1;
        margin-bottom: 2vmax;
    }

    .main-cover p {
        font-size: 3vmax;
        margin-bottom: 4vmax;
        line-height: 1.2;
    }

    .main-cover form {
        grid-template-columns: 5% 7fr 1fr 5%;
        column-gap: 1vmax;
    }

    .main-cover form * {
        height: 7vmax;
    }

    .main-cover form input {
        padding: 0 4vmax;
        font-size: 2.6vmax;
    }

    .main-cover form input::placeholder {
        font-size: 2.6vmax;
    }

    .main-cover form button {
        font-size: 2.7vmax;
    }

    .catalog-category-items {
        grid-gap: 5vmax;
        padding: 8vmax 0 1vmax;
    }

    .catalog-category-items a:first-child,
    .catalog-category-items a:nth-child(3n+3) {
        grid-column: 2;
    }

    .catalog-category-items a:nth-child(2n+2) {
        grid-column: 3;
    }

    .catalog-category-items figcaption {
        font-size: 3.5vmax;
        padding: 2vmax;
    }

    .catalog-category-items a:nth-child(5),
    .catalog-category-items a:nth-child(6) {
        display: none;
    }

    .catalog-category-items aside {
        grid-column: 1/5;
        padding: 20vmax 0 8vmax;
    }

    .mainpage-text .article-content {
        grid-column: 2;
        column-count: 2;
        column-gap: 3vmax;
        margin-bottom: 4vmax;
        column-rule: 1px dotted #ccc;
    }

    .mainpage-text h2 {
        font-size: 6vmax;
        font-weight: 400;
        padding: 2vmax 0;
    }

    .mainpage-text figcaption {
        font-size: 2vmax;
        padding-top: .5vmax;
    }

    .mainpage-text h3 {
        font-size: 3.5vmax;
        padding: 0 2vmax .5vmax;
    }

    .mainpage-text h4 {
        font-size: 2.3vmax;
        font-weight: 700;
        padding: 1vmax 2vmax .2vmax;
    }

    .mainpage-text p {
        font-size: 2.5vmax;
        padding: 0 2vmax 4vmax;
    }

    .mainpage-text ul {
        font-size: 2.3vmax;
        padding: 0 3vmax 2vmax;
    }

    .mainpage-text ul>li {
        padding-bottom: .4vmax;
    }

    .main-clients {
        grid-template-columns: 5% 1fr 5%;
        height: 100vh;
    }

    .main-clients>* {
        grid-column: 2;
    }

    .main-clients h2 {
        font-size: 5vmax;
        margin-bottom: 2vmax;
    }

    .main-clients p {
        font-size: 3.5vmax;
    }

    .main-clients .logos {
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 1vmax;
        padding: 3vmax 0;
        margin-bottom: 2vmax;
    }

    .main-clients .logos>* {
        height: 54px;
        padding: 2vmax;
    }

    .main-clients .catalog-button {
        width: 100%;
    }

    .main-clients .catalog-button a {
        font-size: 2.5vmax;
    }
}
