/*
-----------------------------
Cart Mobile Style
-----------------------------
*/
/*
-------------------------- for-super-small-device-only */
@media (max-width: 319px) {
}

/* for-small-phone-up */
@media (min-width: 320px) {
    /* Breadcrumbs */
    .breadcrumbs {
        grid-template-columns: 3vw 1fr 3vw;
        padding: 5vw 0 4vw;
    }
    .breadcrumbs ul li {font-size: 3.4vw;}

    /* In Cart Button Modificator */
    .cart-btn {margin: 14vw 0;}
}

/*
-------------------------- for-phone-only */
@media (min-width: 320px) and (max-width: 599px) {
}
