/*
-----------------------------
Pages Style
-----------------------------
*/
/* Page Header */
.page-header {padding-bottom: 8vmax;}
.page-header p {display: block !important;}
.page-header aside {grid-column: 2;}

/* Links */
.page-header ul {
    list-style: none;
    font-size: 6.5vw;
}
.page-header ul li {
    display: inline-block;
    border-right: 1px solid #000;
    padding: 0 4vw;
    line-height: 5.2vw;
}
.page-header ul li:last-of-type {border: none;}

/* Numbers in Company page */
.page-header figure {
    display: inline-grid;
    line-height: 1;
    font-size: 7vmax;
    padding: 2vmax;
}
.page-header figure span {font-size: 4vmax;}
.page-header figure b {font-weight: 400;}
.page-header figure figcaption {
    grid-row: 2;
    font-size: 3vmax;
}

/* One column text for some pages*/
.article .article-content__one-column {column-count: 1;}



.page-header ul {font-size: 1.2vmax;}
.page-header ul li {
    padding: 0 1vw;
    line-height: 1vw;
}

.how-to-buy__white-bg {background-color: #fff;}
.how-to-buy__grid h2 {
    grid-column: 2;
    text-align: center;
}

.how-to-buy__how-block,
.how-to-buy__requisites {
    display: grid;
    grid-column: 2;
    grid-template-columns: 1fr 1fr;
}
.how-to-buy__how-block h3 {grid-column: 1;}
.how-to-buy__how-block p {grid-column: 2;}
.how-to-buy__requisites {margin-bottom: 6vmax;}
.how-to-buy__requisites > div:last-of-type {grid-column: 2;}
.how-to-buy__requisites h4 {font-weight: 400;}
.how-to-buy__requisites span {
    display: inline-flex;
    text-align: left;
}
.how-to-buy__requisites span svg {display: inline-flex;}
.how-to-buy__requisites span a {display: inline-flex;}



.blue-papers {
    grid-template-columns: 0vmax repeat(4, 1fr) 0vmax;
    grid-gap: 1vmax;
    background-color: var(--accent-clr);
    padding: 4vmax 0;
}
.blue-papers img {
    display: inline-grid;
    width: 100%;
    background-color: var(--accent-clr-20);
    min-height: 10vmax;
    border-radius: 10px;
    z-index: 0;
    transition: all .1s ease;
    will-change: transform;
}
.blue-papers img:nth-of-type(4n+1) {grid-column: 2;}
.blue-papers img:nth-of-type(4n+2) {grid-column: 3;}
.blue-papers img:nth-of-type(4n+3) {grid-column: 4;}
.blue-papers img:nth-of-type(4n) {grid-column: 5;}
.blue-papers img:hover {
    cursor: zoom-in;
    transform: scale(1.3);
    z-index: 500;
    transition: all .2s ease .5s;
}



.big-clients-list {   grid-template-columns: 25% 1fr 25%;}
.big-clients-list h2,
.clients-list h2 {
    grid-column: 2;
    text-align: center;
    font-size: 2vmax;
}
.big-clients-list h3 {font-size: 1.5vmax;}
.big-clients-list figure {
    grid-column: 2;
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3vmax;
}
.big-clients-list figure > * {
    display: inline-grid;
    align-self: center;
}
.big-clients-list figure img {
    grid-column: 1;
    width: 100%;
    max-width: 15vmax;
}
.big-clients-list figure figcaption {grid-column: 2;}
.clients-list {
    grid-template-columns: 10vw 1fr 10vw;
    background-color: #fff;
    padding: 4vmax 0;
}
.clients-list p {
    grid-column: 2;
    text-align: center;
    font-size: 1.3vmax;
}
.clients-list div {
    grid-column: 2;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1vmax;
}
.clients-list img {
    width: 100%;
    background-color: var(--accent-clr-20);
    min-height: 2vmax;
}
.clients-list img:nth-of-type(6n+1) {/* each 1 */grid-column: 1;}
.clients-list img:nth-of-type(6n+2) {/* each 2 */grid-column: 2;}
.clients-list img:nth-of-type(6n+3) {/* each 3 */grid-column: 3;}
.clients-list img:nth-of-type(6n+4) {/* each 4 */grid-column: 4;}
.clients-list img:nth-of-type(6n+5) {/* each 5 */grid-column: 5;}
.clients-list img:nth-of-type(6n) {/* each 6*/grid-column: 6;}
