/*
-----------------------------
Index Tablet Style
-----------------------------
*/
/* for-tablet-portrait-up */
@media (min-width: 600px) {
    /* Main Cover */
    .main-cover h1 {
        font-weight: 400;
        font-size: 4vmax;
        margin: 10% 0 2vmax 0;
    }
    .main-cover p {
        font-size: 3vmax;
        line-height: 1.2;
        margin-bottom: 3vmax;
    }
    /* Cover Search */
    .main-cover form {column-gap: 1vmax;}
    .main-cover form button,
    .main-cover form button:hover {background-size: 40%;}

    /* Main Company Block */
    .main-clients {
        height: 100vh;
        background: url(../../../i.industrial.kz/stat/i/main_subcover-tab.jpg) center no-repeat fixed #22150f;
        background-size: cover;
    }
    .main-clients .logos {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }
    .main-clients .catalog-button a {font-size: 2.5vmax;}
}

/*
-----------------------------
for-tablet-portait-only */
@media (min-width: 600px) and (max-width: 899px) {
    /* Main Cover */
    .main-cover {
        background: url(../../../i.industrial.kz/stat/i/covers/cover_480.webp) center no-repeat;
        background-size: cover;
    }
    /* Cover Search*/
    .main-cover form {grid-template-columns: 10% 1fr 9vmax 10%;}

    .main-cover form * {height: 9vmax;}
    .main-cover form input {
        grid-column: 2;
        padding: 0 4.2vmax;
        font-size: 3.2vmax;
    }
    .main-cover form input::placeholder {font-size: 3.2vmax;}

    .main-cover form button {grid-column: 3;}


    .catalog-items aside {
        grid-column: 1/4;
        padding: 25vmax 0 10vmax;
    }

    /* Main Company Block */
    .main-clients h2 {font-size: 4vmax;}
    .main-clients p {font-size: 2.8vmax;}
    .main-clients .logos {padding: 1vmax 0;}
    .main-clients .logos > * {
        height: 34px;
        padding: 1vmax;
    }
}

/* for-tablet-landscape-up */
@media (min-width: 900px) {
    /* Main Cover */
    .main-cover {
        background: url(../../../i.industrial.kz/stat/i/covers/cover_600.webp) center no-repeat;
        background-size: cover;
    }
    .main-cover p {
        font-size: 2.5vmax;
        margin-bottom: 4vmax;
    }
    /* Cover Search */
    .main-cover form input {grid-column: 2;}
    .main-cover form button {grid-column: 3;}
}

/*
-----------------------------
for-tablet-landscape-only */
@media (min-width: 900px) and (max-width: 1199px) {
    /* Main Cover */
    .main-cover h1 {margin-top: 25%;}
    /* Cover Search */
    .main-cover form {grid-template-columns: 10% 1fr 7vmax 10%;}
    .main-cover form * {height: 7vmax;}
    .main-cover form input {
        padding: 0 4vmax;
        font-size: 2.6vmax;
    }
    .main-cover form input::placeholder {font-size: 2.6vmax;}

    .catalog-items aside {
        grid-column: 1/5;
        padding: 20vmax 0 8vmax;
    }

    /* Main Company Block */
    .main-clients h2 {font-size: 4vmax;}
    .main-clients p {font-size: 2.5vmax;}
    .main-clients .logos {padding: 3vmax 0;}
    .main-clients .logos > * {
        height: 54px;
        padding: 2vmax;
    }
}
