/*
-----------------------------
Index Style
-----------------------------
*/
.main-menu__logo-wrap__white-logo {
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 497.6 145.9'><style>.svg-l-ico{fill:#1d73bf}#svg-l-txt{fill:#fff}</style><g id='svg-l-txt'><path d='M187.5 48.3v49.3H179V48.3h8.5zM205.8 65.2h-.4v32.4h-8.1V48.3h8.5l13.4 32.4h.4V48.3h8.1v49.3h-8.5l-13.4-32.4zM267.8 72.9c0 4.7-.4 8.7-1.2 12-.8 3.2-1.9 5.9-3.5 7.8-1.5 2-3.4 3.4-5.6 4.3-2.2.9-4.8 1.3-7.7 1.3-2.7 0-5-.1-6.8-.3-1.9-.2-3.7-.6-5.5-1.1V49c1.8-.5 3.6-.9 5.5-1.1 1.9-.2 4.2-.3 6.8-.3 2.9 0 5.5.4 7.7 1.3s4.1 2.3 5.6 4.3 2.7 4.6 3.5 7.8c.8 3.2 1.2 7.2 1.2 11.9zm-8.4 0c0-3.9-.2-7.2-.7-9.8-.5-2.6-1.1-4.7-1.9-6.2-.8-1.5-1.8-2.6-3-3.2-1.2-.6-2.5-.9-3.9-.9H246V93h3.9c1.4 0 2.7-.3 3.9-.9 1.2-.6 2.2-1.7 3-3.2.8-1.5 1.5-3.6 1.9-6.2.4-2.5.7-5.8.7-9.8zM290.4 93.4c1 0 1.9-.2 2.7-.6.8-.4 1.5-1.1 2.1-2 .6-1 1.1-2.3 1.4-3.9.3-1.6.5-3.7.5-6.2V48.3h8.5v32.4c0 6.3-1.2 10.9-3.7 13.6-2.5 2.7-6.3 4.1-11.4 4.1-5.1 0-8.9-1.4-11.4-4.1-2.5-2.7-3.7-7.2-3.7-13.6V48.3h8.5v32.4c0 2.5.2 4.5.5 6.2.3 1.6.8 2.9 1.4 3.9.6 1 1.3 1.6 2.1 2 .6.4 1.5.6 2.5.6zM311.9 60.3c0-3.9 1.2-7 3.6-9.3 2.4-2.3 6-3.4 10.8-3.4 2.5 0 4.7.1 6.7.4 2 .3 3.5.6 4.6 1v3.9h-9.9c-2.3 0-4.1.7-5.4 2-1.3 1.3-2 3.1-2 5.4 0 2.1.5 3.7 1.5 4.9 1 1.2 2.2 2.3 3.7 3.1 1.5.9 3.1 1.7 4.8 2.4 1.7.8 3.3 1.7 4.8 2.9 1.5 1.1 2.7 2.6 3.7 4.4 1 1.8 1.5 4.1 1.5 6.9 0 4.2-1.3 7.5-4 9.9-2.7 2.3-7 3.5-12.9 3.5-2.5 0-4.7-.1-6.7-.4-2-.3-3.5-.6-4.6-1V93h9.9c3.5 0 6-.7 7.6-2 1.5-1.4 2.3-3.4 2.3-6.1 0-1.9-.5-3.5-1.5-4.6-1-1.2-2.2-2.1-3.7-3-1.5-.8-3.1-1.6-4.8-2.4-1.7-.8-3.3-1.7-4.8-2.9s-2.8-2.7-3.7-4.5c-1-1.8-1.5-4.2-1.5-7.2zM341.8 48.3h30.3v5.6h-10.9v43.7h-8.5V53.9h-10.9v-5.6zM406.7 64.5c0 2.4-.2 4.5-.6 6.2-.4 1.7-.9 3.2-1.6 4.4-.7 1.2-1.5 2.2-2.5 3-1 .8-2 1.5-3.1 2l9.5 17.6h-9.5l-8.1-15.9h-4.6v15.9h-8.5V49c1.8-.5 3.6-.9 5.5-1.1 1.9-.2 4.2-.3 6.8-.3 2.9 0 5.4.3 7.5.9 2.1.6 3.8 1.6 5.1 3 1.3 1.4 2.3 3.1 3 5.3.7 2.1 1.1 4.7 1.1 7.7zm-16.6 11.6c1.3 0 2.5-.2 3.5-.6 1-.4 1.9-1 2.5-1.9.7-.9 1.2-2.1 1.5-3.6.4-1.5.5-3.3.5-5.5s-.2-4.1-.5-5.5c-.4-1.5-.9-2.7-1.5-3.6-.7-.9-1.5-1.6-2.5-1.9-1-.4-2.2-.6-3.5-.6h-3.9v23.3h3.9zM423.9 48.3v49.3h-8.5V48.3h8.5zM441.8 85.3l-3.1 12.3h-8.8l12.7-49.3h10.6l12.7 49.3h-8.8L454 85.3h-12.2zm6.2-25.7h-.3L443 79.7h9.8L448 59.6zM480.3 92h17.3v5.6h-25.7V48.3h8.5V92z'/><g><path class='svg-l-ico' d='M72.9 121.2L12.4 60.6 0 72.9l72.9 73 73-73-12.4-12.3z'/><path class='svg-l-ico' d='M36.5 36.4L23.7 49.2l49.2 49.2 49.3-49.2-12.8-12.8-36.5 36.5z'/><path transform='rotate(-45.001 72.95 25.059)' class='svg-l-ico' d='M55.2 7.3h35.4v35.4H55.2z'/></g></g></svg>") no-repeat;
}
/* Main Cover */
.main-cover::before {
    /* Pseudo-class for layers performance */
    will-change: transform;
    /* For performance */
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    animation-duration: 3s;
    animation-name: maincover-fade;
}

@keyframes maincover-fade {
    from {
        background: rgba(0, 0, 0, 1);
    }

    to {
        background: rgba(0, 0, 0, 0.5);
    }
}

.main-cover {
    width: 100%;
    height: 100vmin;
    text-align: center;
    overflow: hidden;
    align-items: end;
}

.main-cover h1, .main-cover p {
    color: #fff;
}

.main-cover * {
    animation-duration: 2s;
    animation-name: maincover-fade-content;
}

@keyframes maincover-fade-content {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.main-cover form {
    display: grid;
    align-self: start;
}

.main-cover form * {
    display: inline-grid;
    margin: 0;
    width: 100%;
    font-family: 'Circe Rounded', sans-serif;
    color: #000;
    white-space: nowrap;
    background: rgba(255, 255, 255, .6);
    box-shadow: rgba(0, 0, 0, .2) 0px 1px 5px;
    border-radius: 100px;
}

.main-cover form input {
    font-weight: 400;
}

.main-cover form input::placeholder {
    content: '';
    font-family: 'Circe Rounded', sans-serif;
    font-weight: 400;
    color: #000;
}

.main-cover form input:focus {
    background: rgba(255, 255, 255, .9);
}

.main-cover form input:focus::placeholder {
    opacity: .3;
}

.main-cover form button {
    font-weight: 700;
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24'><path d='M23.809 21.646l-6.205-6.205a9.68 9.68 0 0 0 1.857-5.711C19.46 4.365 15.096 0 9.73 0S0 4.365 0 9.73s4.365 9.73 9.73 9.73a9.68 9.68 0 0 0 5.487-1.698L21.455 24l2.354-2.354zM2.854 9.73c0-3.792 3.085-6.877 6.877-6.877s6.877 3.085 6.877 6.877-3.085 6.877-6.877 6.877-6.877-3.085-6.877-6.877z'/></svg>") rgba(255, 255, 255, .6);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;
}

.main-cover form button:hover {
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24'><path d='M23.809 21.646l-6.205-6.205a9.68 9.68 0 0 0 1.857-5.711C19.46 4.365 15.096 0 9.73 0S0 4.365 0 9.73s4.365 9.73 9.73 9.73a9.68 9.68 0 0 0 5.487-1.698L21.455 24l2.354-2.354zM2.854 9.73c0-3.792 3.085-6.877 6.877-6.877s6.877 3.085 6.877 6.877-3.085 6.877-6.877 6.877-6.877-3.085-6.877-6.877z'/></svg>") rgba(255, 255, 255, .9);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;
    cursor: pointer;
    transform: scale(.92);
    transition: all .02s ease-in;
}

.main-cover form button:active {
    transform: scale(.85);
    transition: all .02s ease-in;
}

.catalog-items a {
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
    color: #000;
    text-decoration: none;
    text-align: center;
    transition: all .1s ease-out;
    box-shadow: rgba(0, 0, 0, .05) 0px 1px 45px;
    will-change: transform;
}

.catalog-items a:hover {
    transform: scale(.98);
    transition: all .05s ease-in;
}

.catalog-items a:active {
    transform: scale(.95);
    transition: all .02s ease-in;
}

.catalog-items img {
    width: 100%;
    border-radius: 5px;
    background-color: var(--accent-clr-20);
}

.catalog-items figure {
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
}

.catalog-items aside {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: #000;
    background: rgba(240, 240, 240, 0);
    background: -moz-linear-gradient(top, rgba(240, 240, 240, 0) 0%,
        rgba(240, 240, 240, 1) 50%, rgba(240, 240, 240, 1) 100%);
    background: -webkit-gradient(left top, left bottom,
        color-stop(0%, rgba(240, 240, 240, 0)),
        color-stop(50%, rgba(240, 240, 240, 1)),
        color-stop(100%, rgba(240, 240, 240, 1)));
    background: -webkit-linear-gradient(top, rgba(240, 240, 240, 0) 0%,
        rgba(240, 240, 240, 1) 50%, rgba(240, 240, 240, 1) 100%);
    background: -o-linear-gradient(top, rgba(240, 240, 240, 0) 0%,
        rgba(240, 240, 240, 1) 50%, rgba(240, 240, 240, 1) 100%);
    background: -ms-linear-gradient(top, rgba(240, 240, 240, 0) 0%,
        rgba(240, 240, 240, 1) 50%, rgba(240, 240, 240, 1) 100%);
    background: linear-gradient(to bottom, rgba(240, 240, 240, 0) 0%,
        rgba(240, 240, 240, 1) 50%, rgba(240, 240, 240, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0f0f0', endColorstr='#f0f0f0', GradientType=0);
}

.catalog-items aside a,
.catalog-items aside a:active {
    color: var(--accent-clr);
    border-color: var(--accent-clr);
    background: none;
}

.catalog-items aside a {
    box-shadow: rgba(0, 0, 0, .2) 0px 1px 5px;
}

/* Main Article */
.mainpage-text {
    background: #fff;
}

.mainpage-text .article-content {
    grid-column: 2;
    column-gap: 3vmax;
    hyphens: initial;
    orphans: 3;
}

.mainpage-text h2 {
    column-span: all;
    text-align: center;
}

.mainpage-text img {
    width: 100%;
    height: auto;
}

.mainpage-text figcaption {
    font-style: italic;
    padding-top: .5vmax;
}

.mainpage-text h4 {
    font-weight: 700;
}

.mainpage-text p {
    text-indent: 6%;
    word-spacing: 0.1vmax;
    text-align: justify;
}

.mainpage-text h2+p,
.mainpage-text h3+p,
.mainpage-text ul+p {
    text-indent: 0;
}

/* END Main Article */
/* Main Company Block */
.main-clients::before {
    /* Pseudo-class for layers performance */
    will-change: transform;
    /* For performance */
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 101%;
    width: 100%;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 1));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 1));
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 1));
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 1));
    background: linear-gradient(top, rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 1));
    z-index: 1;
}

.main-clients {
    width: 100%;
    align-content: center;
    text-align: center;
    justify-content: center;
    justify-items: center;
    color: #fff;
    overflow: hidden;
}

.main-clients>* {
    z-index: 3;
}

.main-clients h2 {
    line-height: 1;
}

.main-clients p {
    font-family: 'Circe Rounded', sans-serif;
    font-weight: 400;
}

.main-clients .logos {
    object-fit: scale-down;
    text-align: center;
    display: inline-grid;
}

.main-clients .logos>* {
    justify-self: center;
    align-self: center;
    object-fit: contain;
    width: 100%;
}

/* END Main Company Block */
