/*
-----------------------------
Index Tablet Style
-----------------------------
*/
/* for-tablet-portrait-up */
@media (min-width: 600px) {
    /* Main Cover */
    .main-cover h1 {
        font-weight: 400;
        font-size: 4vmax;
        margin: 10% 0 2vmax 0;
    }
    .main-cover p {
        font-size: 3vmax;
        line-height: 1.2;
        margin-bottom: 3vmax;
    }
    .main-cover .form-search input {max-width: 100%;}
    /* Main Company Block */
    .main-clients {
        height: 100vh;
        background: url(../../../i.industrial.kz/stat/i/main_subcover-tab.jpg) center no-repeat fixed #22150f;
        background-size: cover;
    }
    .main-clients .logos {
        display: inline-grid;
        grid-template-columns: repeat(5, 1fr);
    }
}

/*
-----------------------------
for-tablet-portait-only */
@media (min-width: 600px) and (max-width: 899px) {
    /* Main Cover */
    .main-cover {
        background: url(../../../i.industrial.kz/stat/i/covers/cover_480.webp) center no-repeat #bb4024;
        background-size: cover;
    }
    .no-webp .main-cover {
        background: url(../../../i.industrial.kz/stat/i/covers/cover_480.jpg) center no-repeat #bb4024;
        background-size: cover;
    }
    /* Search Form */
    .main-cover .form-search {grid-template-columns: 10% 1fr 9vmax 10%;}
    .main-cover .form-search input {
        height: 9vmax;
        padding: 0 4.2vmax;
        font-size: 3.2vmax;
    }
    .main-cover .form-search button {height: 9vmax;}
    .main-cover .form-search input::placeholder {font-size: 3.2vmax;}
    .catalog-items aside {
        grid-column: 1/4;
        padding: 25vmax 0 10vmax;
    }

    /* Main Company Block */
    .main-clients h2 {font-size: 4vmax;}
    .main-clients p {font-size: 2.8vmax;}
    .main-clients .logos {padding: 1vmax 0;}
    .main-clients .logos > * {
        height: 34px;
        padding: 1vmax;
    }
}

/* for-tablet-landscape-up */
@media (min-width: 900px) {
    /* Main Cover */
    .main-cover {
        background: url(../../../i.industrial.kz/stat/i/covers/cover_600.webp) center no-repeat #bb4024;
        background-size: cover;
    }
    .no-webp .main-cover {
        background: url(../../../i.industrial.kz/stat/i/covers/cover_600.jpg) center no-repeat #bb4024;
        background-size: cover;
    }
    .main-cover p {
        font-size: 2.5vmax;
        margin-bottom: 4vmax;
    }
}

/*
-----------------------------
for-tablet-landscape-only */
@media (min-width: 900px) and (max-width: 1199px) {
    /* Main Cover */
    .main-cover h1 {margin-top: 25%;}
    /* Search Form */
    .main-cover .form-search {grid-template-columns: 10% 1fr 7vmax 10%;}
    .main-cover .form-search input {
        height: 7vmax;
        padding: 0 4vmax;
        font-size: 2.6vmax;
    }
    .main-cover .form-search input::placeholder {font-size: 2.6vmax;}
    .main-cover .form-search button {height: 7vmax;}
    .catalog-items aside {
        grid-column: 1/5;
        padding: 20vmax 0 8vmax;
    }

    /* Main Company Block */
    .main-clients h2 {font-size: 4vmax;}
    .main-clients p {font-size: 2.5vmax;}
    .main-clients .logos {padding: 3vmax 0;}
    .main-clients .logos > * {
        height: 54px;
        padding: 2vmax;
    }
}
