/*
-----------------------------
Index Desktop Style
-----------------------------
*/
/* for-desktop-up */
@media (min-width: 1200px) {
    /* Main Cover */
    /* Cover Search */
    .main-cover p {line-height: 1.75;}
    .main-cover form {grid-template-columns: 20% 1fr 5vmax 20%;}

    /* Main Company Block */
    .main-clients {
        grid-template-columns: 15% 1fr 15%;
        height: 70vh;
        background: url(../../../i.industrial.kz/stat/i/main_subcover-desc.jpg) center no-repeat fixed #22150f;
        background-size: cover;
    }
    .main-clients h2 {font-size: 3.5vmax;}
    .main-clients p {
        font-size: 2vmax;
        margin-bottom: 2vmax;
    }
    .main-clients .logos {padding: 1vmax 0;}
    .main-clients .logos > * {height: 54px;}
    .main-clients .catalog-button {
        width: 80%;
        padding: 3vmax 0 0;
     }
    .main-clients .catalog-button a {font-size: 1vmax;}
}

/*
-----------------------------
for-desktop-only */
@media (min-width: 1200px) and (max-width: 1799px) {
    /* Main Cover */
    .main-cover {
        background: url(../../../i.industrial.kz/stat/i/covers/cover_600.webp) center no-repeat;
        background-size: cover;
    }
    .main-cover h1 {
        font-size: 4vmax;
        margin: 20% 0 1vmax 0;
    }
    .main-cover p {font-size: 2vmax;}
    /* Cover Search */
    .main-cover form * {height: 5vmax;}
    .main-cover form input {
        padding: 0 2.3vmax;
        font-size: 2vmax;
    }
    .main-cover form input::placeholder {font-size: 2vmax;}

    .catalog-items aside {
        grid-column: 1/6;
        padding: 10vmax 0 6vmax;
    }
}

/*
-----------------------------
for-big-desktop-up */
@media (min-width: 1800px) {
    /* Main Cover */
    .main-cover {
        grid-template-columns: 15% 1fr 15%;
        background: url(../../../i.industrial.kz/stat/i/covers/cover_800.webp) center no-repeat;
        background-size: cover;
    }

    .main-cover h1 {
        font-size: 3vmax;
        margin: 25% 0 .5vmax 0;
    }
    .main-cover p {
        font-size: 1.6vmax;
        margin-bottom: 2vmax;
    }
    /* Cover Search */
    .main-cover form {grid-template-columns: 20% 1fr 4vmax 20%;}
    .main-cover form * {height: 4vmax;}
    .main-cover form input {
        padding: 0 1.9vmax;
        font-size: 1.5vmax;
    }
    .main-cover form input::placeholder {font-size: 1.5vmax;}

    .catalog-items aside {
        grid-column: 1/6;
        padding: 10vmax 0 6vmax;
    }

    /* Main Company Block */
    .main-clients {
        background: url(../../../i.industrial.kz/stat/i/main_subcover-big-desc.jpg) center no-repeat fixed #22150f;
        background-size: cover;
    }
    .main-clients h2 {font-size: 2.4vmax;}
    .main-clients p {
        font-size: 1.5vmax;
        margin: 0;
    }
}
