/*
-----------------------------
Catalog Style
-----------------------------
*/
/* Catalog Header */
.catalog-header {
    grid-template-columns: 15% 1fr 15%;
    grid-gap: 1.5vmax;
    padding: 8vmax 0;
    text-align: center;
}
.catalog-header h1,
.catalog-header p,
.catalog-header form {
    grid-column: 2;
}

.catalog-header h1 {
    font-size: 3vmax;
}

.catalog-header form {
    display: grid;
    grid-template-columns: 20% 9fr 1fr 20%;
    column-gap: .5vmax;
    align-self: start;
}

.catalog-header form * {
    display: inline-grid;
    height: 3.7vmax;
    margin: 0;
    width: 100%;
    font-family: 'Circe Rounded', sans-serif;
    color: #000;
    white-space: nowrap;
    background: rgba(255, 255, 255, .6);
    box-shadow: rgba(0, 0, 0, .2) 0px 1px 5px;
    border-radius: 100px;
}

.catalog-header form input {
    font-weight: 400;
    padding: 0 1.5vmax;
    font-size: 1.5vmax;
    grid-column: 2;
}

.catalog-header form input::placeholder {
    content: '';
    font-family: 'Circe Rounded', sans-serif;
    font-weight: 400;
    font-size: 1.5vmax;
    color: #000;
}

.catalog-header form input:focus {
    background: rgba(255, 255, 255, .9);
}

.catalog-header form input:focus::placeholder {
    opacity: .3;
}

.catalog-header form button {
    font-weight: 700;
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24'><path d='M23.809 21.646l-6.205-6.205a9.68 9.68 0 0 0 1.857-5.711C19.46 4.365 15.096 0 9.73 0S0 4.365 0 9.73s4.365 9.73 9.73 9.73a9.68 9.68 0 0 0 5.487-1.698L21.455 24l2.354-2.354zM2.854 9.73c0-3.792 3.085-6.877 6.877-6.877s6.877 3.085 6.877 6.877-3.085 6.877-6.877 6.877-6.877-3.085-6.877-6.877z'/></svg>") rgba(255, 255, 255, .6);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;
    font-size: 2.5vmax;
}

.catalog-header form button:hover {
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24'><path d='M23.809 21.646l-6.205-6.205a9.68 9.68 0 0 0 1.857-5.711C19.46 4.365 15.096 0 9.73 0S0 4.365 0 9.73s4.365 9.73 9.73 9.73a9.68 9.68 0 0 0 5.487-1.698L21.455 24l2.354-2.354zM2.854 9.73c0-3.792 3.085-6.877 6.877-6.877s6.877 3.085 6.877 6.877-3.085 6.877-6.877 6.877-6.877-3.085-6.877-6.877z'/></svg>") rgba(255, 255, 255, .9);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;
    cursor: pointer;
    transform: scale(.92);
    transition: all .02s ease-in;
}

.catalog-header form button:active {
    transform: scale(.85);
    transition: all .02s ease-in;
}



.catalog-items {
    grid-template-columns: 5% repeat(3, 1fr) 5%;
    grid-gap: 3vmax;
    padding-bottom: 6vmax;
}
.catalog-items a {
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
    color: #000;
    text-decoration: none;
    text-align: center;
    transition: all .1s ease-out;
    box-shadow: rgba(0, 0, 0, .05) 0px 1px 45px;
    will-change: transform;
    min-height: 15vmax;
}

.catalog-items a:hover {
    transform: scale(.98);
    transition: all .05s ease-in;
}

.catalog-items a:active {
    transform: scale(.95);
    transition: all .02s ease-in;
}

.catalog-items img {
    width: 100%;
    border-radius: 5px;
    min-height: 7vmax;
    background-color: var(--accent-clr-20);
}

.catalog-items figure {
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
}

.catalog-items figcaption {
    padding: 1vmax;
}
.catalog-items figcaption h2 {
    font-size: 1.6vmax;
}
.catalog-items figcaption p {
    font-size: 1.1vmax;
}

.catalog-items a:nth-child(3n+1) {
    /* each 1 */
    grid-column: 2;
}

.catalog-items a:nth-child(3n+2) {
    /* each 2 */
    grid-column: 3;
}

.catalog-items a:nth-child(3n) {
    /* each 3*/
    grid-column: 4;
}



.catalog-products {
    grid-template-columns: 2.5vw repeat(6, 1fr) 2.5vw;
    grid-gap: 1.5vmax;
}
.catalog-products figcaption {
    display: grid;
}
.catalog-products figcaption h2 {
    font-weight: 700;
    font-size: 1.3vmax;
    line-height: 1;
    align-self:start;
}
.catalog-products figcaption p {
    font-size: 1vmax;
    align-self:end;
}

.catalog-products figcaption span {
    font-weight: 700;
    color:var(--accent-clr);
    font-size: 1vmax;
    align-self:end;
}

.catalog-products a:nth-child(6n+1) {
    /* each 1 */
    grid-column: 2;
}

.catalog-products a:nth-child(6n+2) {
    /* each 2 */
    grid-column: 3;
}

.catalog-products a:nth-child(6n+3) {
    /* each 3 */
    grid-column: 4;
}

.catalog-products a:nth-child(6n+4) {
    /* each 4 */
    grid-column: 5;
}

.catalog-products a:nth-child(6n+5) {
    /* each 4 */
    grid-column: 6;
}

.catalog-products a:nth-child(6n) {
    /* each 5*/
    grid-column: 7;
}





.catalog-text {
    background: #fff;
    grid-template-columns: 15% 1fr 15%;
}

.catalog-text .article-content {
    grid-column: 2;
    column-gap: 3vmax;
    hyphens: initial;
    orphans: 3;
    column-count: 2;
    column-gap: 3vmax;
    margin-bottom: 4vmax;
    column-rule: 1px dotted #ccc;
}

.catalog-text h2 {
    column-span: all;
    text-align: center;
    font-size: 2.8vmax;
    font-weight: 400;
    padding: 2vmax 0;
}

.catalog-text img {
    width: 100%;
    height: auto;
}

.catalog-text figcaption {
    font-style: italic;
    font-size: 1vmax;
    padding-top: .5vmax;
}

.catalog-text h4 {
    font-weight: 700;
    font-size: 1.2vmax;
    font-weight: 700;
    padding: 1vmax 2vmax .2vmax;
}

.catalog-text p {
    text-indent: 6%;
    word-spacing: 0.1vmax;
    text-align: justify;
    font-size: 1.3vmax;
    padding: 0 2vmax 3vmax;
}

.catalog-text h2+p,
.catalog-text h3+p,
.catalog-text ul+p {
    text-indent: 0;
}
.catalog-text ul>li {
    padding-bottom: .4vmax;
}

.catalog-text h3 {
    font-size: 1.7vmax;
    font-weight: 400;
    padding: 0 2vmax .5vmax;
}

.mainpage-text ul {
    font-size: 1.2vmax;
    padding: 0 3vmax 2vmax;
}
