/*
-----------------------------
Catalog Style
-----------------------------
*/
/* Catalog Header */
.catalog-products h2 {
    font-weight: 700;
    line-height: 1;
}
.catalog-products span {
    margin-top: 2vmax;
    font-weight: 700;
    color:var(--accent-clr);
}
