/*
-----------------------------
Cart Desktop Style
-----------------------------
*/
/* for-desktop-up */
@media (min-width: 1200px) {
    /* In Cart Button Modificator */
    .cart-btn {margin: 4vw 0;}

    /* Core Cart article and description */
    /* Special Attention block */
    .attention {width: 60%;}

    /* Cart images */
    .cart-article__content h2 ~ figure {width: 50%;}
    .cart-article__content h2 ~ figure figcaption {font-size: 1.2vmax;}

    /* Cart Table */
    caption {
        font-size: 1.8vmax;
        padding: .5vmax 0;
    }
    table {
        width: max-content;
    }
    table th,
    table td{
        padding: .6vmax;
    }
    table th {
        padding: .6vmax;
        font-size: 1.5vmax;
    }
    table td {font-size: 1.5vmax;}

    /* Cart stream video */
    .cart-article__video {
        width: 50%;
        padding-bottom: 26vw;
    }


    /* Blue block, clients */
    .cart-blue-block {padding: 4vmax 0;}
    .cart-blue-block h4 {font-size: 2vmax;}

    /* Reviews */
    .cart-reviews {margin-bottom: 4vmax;}


    /* Scroll to top Button */
    .scrollup {
        width: 3vw;
        height: 3vw;
    }
}

/*
-----------------------------
for-desktop-only */
@media (min-width: 1200px) and (max-width: 1799px) {
    /* Breadcrumbs */
    .breadcrumbs {padding: 4vw 0 0;}
    .breadcrumbs ul li {font-size: 1.2vw;}

    /* Cart Lead */
    /* Cart Lead Article */
    .cart-lead h1 {font-size: 2.4vmax;}
    .cart-lead p {font-size: 1.4vmax;}

    /* Cart Price Block */
    .cart-delivery {
        font-size: 1.2vmax;
        padding: 1.5vmax;
        margin: 1vmax 0 0;
    }
    .cart-price {font-size: 1.6vmax;}

    /* Red Bage SALE OFF */
    .cart-bage-sale-off {
        padding: 1.7vw;
        margin-bottom: 2vw;
    }
    .cart-bage-sale-off h3 {font-size: 2vw;}
    .cart-bage-sale-off span {font-size: 1.3vw;}

    /* Core Cart article and description */
    /* Special Attention block */
    .attention figcaption {font-size: 1.3vmax;}

    /* Characteristics sheet */
    .cart-article__content h2 + ul {font-size: 1.6vmax;}

}

/*
-----------------------------
for-big-desktop-up */
@media (min-width: 1800px) {
    /* Breadcrumbs */
    .breadcrumbs {
        grid-template-columns: 12vw 1fr 12vw;
        padding: 2vw 0 0;
    }
    .breadcrumbs ul li {font-size: .8vw;}

    /* Cart Lead */
    .cart-lead {
        grid-template-columns: 8vw 1fr 1fr 8vw;
        grid-gap: 4vw;
    }

    /* Cart Lead Article */
    .cart-lead h1 {font-size: 1.8vmax;}
    .cart-lead p {font-size: 1vmax;}

    /* Cart Price Block */
    .cart-delivery {
        grid-template-columns: 2vmax 1fr;
        font-size: .8vmax;
        padding: 1vmax;
        margin: 1vmax 0 0;
    }
    .cart-price {font-size: 1.2vmax;}


    /* Red Bage SALE OFF */
    .cart-bage-sale-off {
        padding: 1.3vw;
        margin-bottom: 2vw;
    }
    .cart-bage-sale-off h3 {font-size: 1.5vw;}
    .cart-bage-sale-off span {font-size: 1vw;}


    /* Core Cart article and description */
    .cart-article__wrapper {grid-template-columns: 12% 1fr 12%;}

    /* Special Attention block */
    .attention figcaption {font-size: 1vmax;}

    /* Characteristics sheet */
    .cart-article__content h2 + ul {font-size: 1.2vmax;}

    /* Cart images */
    .cart-article__content h2 ~ figure figcaption {font-size: .8vmax;}

    /* Cart Table */
    caption {
        font-size: 1vmax;
        padding: .5vmax 0;
    }
    table th,
    table td{
        padding: .6vmax;
    }
    table th {
        padding: .6vmax;
        font-size: .9vmax;
    }
    table td {font-size: .9vmax;}

    /* Cart stream video */
    .cart-article__video {padding-bottom: 21vw;}


    /* Blue block, clients */
    .cart-blue-block {
        grid-template-columns: 12vw 1fr 12vw;
        padding: 3vmax 0;
    }
    .cart-blue-block h4 {
        font-size: 1.5vmax;
    }

    /* Reviews */
    .cart-reviews {margin-bottom: 3vmax;}

    /* Scroll to top Button */
    .scrollup {
        width: 2vw;
        height: 2vw;
        left: 2vw;
    }
}
