/*
-----------------------------
Cart Style
-----------------------------
*/
/* Abbreviation style */
abbr[title], dfn[title] { box-sizing: border-box;
    text-decoration: none;
    color: #0c2b47;
    cursor: help;
}
/* Breadcrumbs */
.breadcrumbs {
    grid-template-columns: 3vw 1fr 3vw;
    padding: 5vw 0 10vw;
}
.breadcrumbs ul {
    grid-column: 2;
    font-size: 5vw;

}
.breadcrumbs ul li {display: inline-grid;}

/* Cart Lead */
.cart-lead {
    grid-template-columns: 0 1fr 0;
    grid-gap: 4vmax;
    padding-bottom: 3vmax;
}

/* Cart Lead Article */
.cart-lead article {grid-column: 2;}
.cart-lead h1 {
    font-size: 7vw;
    text-align: center;
}
.cart-lead p {
    text-indent: 6%;
    margin-bottom: 1vmax;
    font-size: 6.5vw;
    text-align: left;
}
.cart-lead p:last-of-type {margin-bottom: 0;}
.cart-lead figure + p,
.cart-lead h1 + p {text-indent: 0;}

/* Cart Price Block */
.cart-lead figure {
    grid-template-columns: 1fr;
    display: grid;
    align-items: center;
    grid-gap: 3vmax;
    padding: 0 0 8vmax;
    justify-items: center;
}
.cart-delivery {
    display: grid;
    grid-row: 1;
    color: #ff3700;
    font-weight: 700;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, .2) 0px 1px 5px;
    grid-template-columns: 5.5vmax 1fr;
    font-size: 5.4vw;
    padding: 2.8vmax;
    margin: 3vmax 0 0;
    grid-column: 1;
}
.cart-delivery div {
        background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' fill-rule='evenodd' clip-rule='evenodd' fill='#ff3700'><path d='M5 11v1h8v-7h-10v-1c0-.552.448-1 1-1h10c.552 0 1 .448 1 1v2h4.667c1.117 0 1.6.576 1.936 1.107.594.94 1.536 2.432 2.109 3.378.188.312.288.67.288 1.035v4.48c0 1.089-.743 2-2 2h-1c0 1.656-1.344 3-3 3s-3-1.344-3-3h-4c0 1.656-1.344 3-3 3s-3-1.344-3-3h-1c-.552 0-1-.448-1-1v-6h-2v-2h7v2h-3zm3 5.8c.662 0 1.2.538 1.2 1.2 0 .662-.538 1.2-1.2 1.2-.662 0-1.2-.538-1.2-1.2 0-.662.538-1.2 1.2-1.2zm10 0c.662 0 1.2.538 1.2 1.2 0 .662-.538 1.2-1.2 1.2-.662 0-1.2-.538-1.2-1.2 0-.662.538-1.2 1.2-1.2zm-3-2.8h-10v2h.765c.549-.614 1.347-1 2.235-1 .888 0 1.686.386 2.235 1h5.53c.549-.614 1.347-1 2.235-1 .888 0 1.686.386 2.235 1h1.765v-4.575l-1.711-2.929c-.179-.307-.508-.496-.863-.496h-4.426v6zm1-5v3h5l-1.427-2.496c-.178-.312-.509-.504-.868-.504h-2.705zm-16-3h8v2h-8v-2z'/></svg>") no-repeat;
        display: inline-block;
        width: 100%;
        height: auto;
}
.cart-delivery span {font-weight: 700;}
.cart-button {
    background: var(--accent-clr);
    margin: 0;
}

.cart-price {
    text-align: center;
    font-size: 8vw;
}

/* Cart Gallery */
.cart-lead > div {
    display: grid;
    grid-column: 2;
    align-self: start;
    line-height: 0;
}
.cart-lead > div * {line-height: 0;}
.cart-lead > div img {border-radius: 10px;}

/* In Cart Button Modificator */
.cart-btn {margin: 16vw 0;}

/* Red Bage SALE OFF */
.cart-bage-sale-off {
    margin-bottom: 6vw;
    text-align: center;
    padding: 4vw;
    background-color: #cd3331;
    color:#fff;
    border-radius: 10px;
    text-align: center;
}
.cart-bage-sale-off h3 {font-size: 7vw;}
.cart-bage-sale-off span {font-size: 5vw;}

.cart-bage-sale-off a {
    color:#fff;
    font-weight: 700;
    vertical-align: baseline;
}
.cart-bage-sale-off a:hover {color: var(--accent-clr);}

/* Slider General */
.slider-nav .slick-slide {padding:.6vmax .3vmax;}

.slick-slider {
    position: relative;
    display: inline-grid;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus {outline: 0;}
.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}
.slick-slider .slick-list,
.slick-slider .slick-track {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:after,
.slick-track:before {
    display: table;
    content: '';
}
.slick-track:after {clear: both;}
.slick-loading .slick-track {visibility: hidden;}
.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 45px;
}
[dir=rtl] .slick-slide {float: right;}
.slick-slide img {display: block;}
.slick-slide.slick-loading img {display: none;}
.slick-slide.dragging img {pointer-events: none;}
.slick-initialized .slick-slide {display: block;}
.slick-loading .slick-slide {visibility: hidden;}
.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {display: none;}
.slick-loading .slick-list {background: #fff url(../../../i.industrial.kz/stat/i/ajax-loader.gif) center center no-repeat}
@font-face {
    font-family: slick;
    font-weight: 400;
    font-style: normal;
    src: url(../f/slick.eot);
    src: url(../f/slick.eot?#iefix) format('embedded-opentype'),
        url(../f/slick.woff) format('woff'),
        url(../f/slick.ttf) format('truetype'),
        url(../f/slick.svg#slick) format('svg');
}
.slick-next,
.slick-prev {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: 0;
    background: 0 0;
}
.slick-next:focus,
.slick-next:hover,
.slick-prev:focus,
.slick-prev:hover {
    color: transparent;
    outline: 0;
    background: 0 0;
}
.slick-next:focus:before,
.slick-next:hover:before,
.slick-prev:focus:before,
.slick-prev:hover:before {
    opacity: 1;
}
.slick-next.slick-disabled:before,
.slick-prev.slick-disabled:before {
    opacity: .25;
}
.slick-next:before,
.slick-prev:before {
    font-family: slick;
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: var(--accent-clr);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-prev {left: -25px;}
[dir=rtl] .slick-prev {
    right: -25px;
    left: auto;
}
.slick-prev:before {content: '←';}
[dir=rtl] .slick-prev:before {content: '→';}
.slick-next {right: -25px;}
[dir=rtl] .slick-next {right: auto;left: -25px;}
.slick-next:before {content: '→';}
[dir=rtl] .slick-next:before {content: '←';}
.slick-dots {
    position: absolute;
    bottom: -25px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}
.slick-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}
.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: 0;
    background: 0 0;
}
.slick-dots li button:focus,
.slick-dots li button:hover {
    outline: 0;
}
.slick-dots li button:focus:before,
.slick-dots li button:hover:before {
    opacity: 1;
}
.slick-dots li button:before {
    font-family: slick;
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: .25;
    color: #000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
    opacity: .75;
    color: var(--accent-clr);
}


/* Core Cart article and description */
.cart-article__wrapper {
    grid-template-columns: 3vw 1fr 3vw;
    background: #fff;
}
.cart-article__wrapper .cart-article__content {
    column-count: 1;
    margin: 8vmax 0 0;
    column-gap: 0;
    overflow: hidden;
}

/* Special Attention block */
.attention {
    width: auto;
    display: grid;
    margin: auto;
    background-color: #cd3331;
    padding: 2vmax;
    align-items: center;
    border-radius: 10px;
}
.attention figcaption {
    font-size: 3.4vmax;
    grid-column: 2;
    padding-top: .5vmax;
    text-align: left;
    color: #fff;
    padding: 0 1vmax;
}
.attention span {font-weight: 700;}

/* Individual Cart content style */
.cart-article__content h2 {margin: 0;}


.cart-article__content h2 + p,
.cart-article__content h3 + p,
.cart-article__content ul + p,
.cart-article__content table + p,
.cart-article__content figure + p,
.cart-article__content iframe + p {
    text-indent: 0;
}

.cart-article__content p:first-of-type {padding-top: 3vmax;}
.cart-article__content p:last-of-type {padding-bottom: 0;}

/* Characteristics sheet */
.cart-article__content h2 + ul {
    font-size: 4.4vmax;
    font-family: 'Circe Rounded', sans-serif;
    padding: 2vmax 4vmax;
    border-radius: 10px;
    background: rgba(240,240,240,1);
    background: -moz-linear-gradient(left, rgba(240,240,240,1) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(240,240,240,1)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(left, rgba(240,240,240,1) 0%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(left, rgba(240,240,240,1) 0%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(left, rgba(240,240,240,1) 0%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to right, rgba(240,240,240,1) 0%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#ffffff', GradientType=1 );
}
.cart-article__content h2 + ul li {padding-bottom: 1.8vmax;}
.cart-article__content h2 + ul li:last-child {padding-bottom: 0;}
.cart-article__content h2 + ul span {font-weight: 700;}


/* Cart images */
.cart-article__content h2 ~ figure {
    width: 100%;
    text-align: center;
    margin: auto;
    margin-bottom: 3vmax;
}
.cart-article__content img {
    width: 100%;
    min-height: 5vmax;
    border-radius: 10px;
    background-color: var(--accent-clr-20);
}
.cart-article__content h2 ~ figure figcaption {
    font-size: 2.8vmax;
    font-style: italic;
    font-weight: 700;
    text-align: right;
    padding: 0;
}

/* Cart stream video */
.cart-article__video {
    height: 0;
    display: block;
    margin: 0 auto;
    margin-bottom: 3vmax;
}
.cart-article__video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Cart Table */

table {
    overflow-x: auto;
	display: block;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 2vmax auto;
    line-height: 1.2;
    cursor: default;
    max-width: 100%;
}
caption {
    font-size: 4vmax;
    padding: .8vmax 0;
    text-align: center;
    font-weight: 700;
}
table th,
table td {
    padding: 1vmax;
    border: 1px solid #a1a1a1;
}
table th {
    padding: 1vmax;
    font-size: 3.5vmax;
    font-weight: 700;
    vertical-align: middle;
    background-color: var(--f0-clr);
}
table th:hover {background-color: #fff;}
table td {
    font-size: 3.5vmax;
    font-weight: 400;
}
table tr:hover {background-color: var(--f0-clr);}
table td:hover {background-color: var(--accent-clr-20);}

/* Cart stream video */
.cart-article__video {
    width: 100%;
    padding-bottom: 53vw;
}

/* Blue block, clients */
.cart-blue-block {
    grid-template-columns: 3vw 1fr 3vw;
    padding: 5vmax 0;
    background: var(--accent-clr-20);
    text-align: center;
}
.cart-blue-block > * {
    display: grid;
    grid-column: 2;
}
.cart-blue-block h4 {
    font-family: 'Circe Rounded', sans-serif;
    font-weight: 400;
    font-size: 5vmax;
    margin-bottom: 2vmax;
}
.cart-blue-block img {
    will-change: transform;
    border-radius: 10px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, .05) 0px 1px 45px;
    background-color: var(--f0-clr);
    min-height: 5vmax;
}

/* Reviews */
.cart-reviews {
    grid-template-columns: 1fr;
    grid-gap: 4vw;
    margin-bottom: 5vmax;
}
.cart-reviews img {
    grid-column: 1;
    z-index: 0;
    transition: all .1s ease;
    min-height: 15vmax;
}
.cart-reviews img:hover {
    transition: all .2s ease .5s;
    max-height: 100vh;
    cursor: zoom-in;
    transform: scale(1.3);
    z-index: 500;
}
.cart-reviews img:not(:hover) {
    cursor: auto;
    transform: scale(1);
    z-index: 0;
    height: auto;
}

/* Clients logo */
.cart-clients {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2vw;
}
.cart-clients img:nth-of-type(odd) {/* each 1 */grid-column: 1;}
.cart-clients img:nth-of-type(even) {/* each 2 */grid-column: 2;}


/* Scroll to top Button */
.scrollup {
    width: 12vw;
    height: 12vw;
    bottom: 4vw;
    left: 4vw;
}
