/*
-----------------------------
Mobile Header for pages and catalog pages
-----------------------------
*/
@media (max-width: 319px) {
    .page-header .form-search input {
        height: 10vmax;
        padding: 0 3vmax;
        font-size: 4.5vmax;
    }
    .page-header .form-search input::placeholder {font-size: 4.5vmax;}
    .page-header .form-search button {height: 10vmax;}
}
@media (min-width: 320px) {
    .page-header {
        grid-template-columns: 5% 1fr 5%;
        padding-top: 4vmax;
    }
    .page-header h1 {font-size: 3.8vmax;}
    .page-header p {
        display: block;
        font-size: 2.4vmax;
        max-width: 100%;
    }
    .page-header .form-search input {
        height: 8.5vmax;
        padding: 0 2vmax;
        font-size: 3vmax;
        max-width: 90%;
    }
    .page-header .form-search input::placeholder {font-size: 3vmax;}
    .page-header .form-search button {height: 8.5vmax;}
}
