/*
-----------------------------
Cart Style
-----------------------------
*/
/* Catalog Header */

abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
