/*
-----------------------------
Index Mobile Style
-----------------------------
*/
/*
-------------------------- for-super-small-device-only */
@media (max-width: 319px) {
    /* Main Cover */
    .main-cover {
        background: url(../../../i.industrial.kz/stat/i/covers/cover_320.webp) center no-repeat;
        background-size: cover;
    }

    .main-cover h1 {
        font-size: 5vmax;
        margin-bottom: 4vmax;
        line-height: 1;
    }
    /* Search Form */
    .main-cover .form-search {grid-template-columns: 1fr;}
    .main-cover .form-search input {
        height: 10vmax;
        padding: 0 3vmax;
        font-size: 4.5vmax;
    }
    .main-cover .form-search input::placeholder {font-size: 4.5vmax;}
    .main-cover .form-search button {height: 9vmax;}
    .catalog-items aside {
        grid-column: 1/4;
        padding: 25vmax 0 15vmax;
    }
}

/* for-small-phone-up */
@media (min-width: 320px) {
    /* Main Cover */
    .main-cover {grid-template-rows: 1fr 1fr;}
    .main-cover h1 {
        font-size: 6vmax;
        margin-bottom: 4vmax;
        line-height: 1;
    }
    .main-cover p {
        display: inline-grid;
        margin-bottom: 2vmax;
    }
    /* Search Form */
    .main-cover .form-search input {
        height: 8.5vmax;
        padding: 0 2vmax;
        font-size: 3vmax;
        max-width: 90%;
    }
    .main-cover .form-search input::placeholder {font-size: 3vmax;}
    .main-cover .form-search button {height: 6.5vmax;}
}

/*
-------------------------- for-phone-only */
@media (min-width: 320px) and (max-width: 599px) {
    /* Main Cover */
    .main-cover {
        background: url(../../../i.industrial.kz/stat/i/covers/cover_320.webp) center no-repeat;
        background-size: cover;
    }
    .main-cover h1 {
        font-size: 3.3vmax;
        font-weight: 700;
        margin-bottom: 1.5vmax;
    }

    .main-cover p {
        font-size: 2.3vmax;
        line-height: 1.1;
    }
    /* Search Form */
    .main-cover .form-search {grid-template-columns: 1fr;}
    .catalog-items aside {
        grid-column: 1/4;
        padding: 25vmax 0 10vmax;
    }

    /* Main Company Block */
    .main-clients {
        height: 80vh;
        background: url(../../../i.industrial.kz/stat/i/main_subcover-mob.jpg) center no-repeat fixed #22150f;
        background-size: cover;
    }
    .main-clients h2 {font-size: 4.5vmax;}
    .main-clients p {font-size: 3vmax;}
    .main-clients .logos {
        grid-template-columns: 1fr 1fr;
        padding: 1vmax 0;
    }
    .main-clients .logos > * {
        height: 34px;
        padding: 1vmax;
    }
    .main-clients p {display: inline-block;}
    .main-clients .logos img:last-child {display: none;}
}
