/*
-----------------------------
Pages Mobile Style
-----------------------------
*/
/*
-------------------------- for-super-small-device-only */
@media (max-width: 319px) {
}

/* for-small-phone-up */
@media (min-width: 320px) {
    .page-header {padding-bottom: 4vmax;}

    .page-header figure {font-size: 7vmax;}
    .page-header figure span {font-size: 4vmax;}
    .page-header figure figcaption {font-size: 2.6vmax;}

    .big-clients-list {grid-template-columns: 0 1fr 0;}
    .big-clients-list h2,
    .clients-list h2 {
        font-size: 4.5vmax;
    }
    .big-clients-list h3 {font-size: 4.5vmax;}
    .big-clients-list figure {
        grid-gap: 1vmax;
        font-size: 3.4vmax;
    }
    .big-clients-list figure img {max-width: 100%;}



    .clients-list {
        grid-template-columns: 1vw 1fr 1vw;
        padding: 4vmax 0;
    }
    .clients-list p {font-size: 2.8vmax;}
    .clients-list div {grid-template-columns: 1fr 1fr;}
    .clients-list img:nth-of-type(odd) {/* each 1 */grid-column: 1;}
    .clients-list img:nth-of-type(even) {/* each 2 */grid-column: 2;}

}

/*
-------------------------- for-phone-only */
@media (min-width: 320px) and (max-width: 599px) {
    .page-header ul {font-size: 5.5vw;}
    .page-header ul li {
        padding: 0 3.6vw;
        line-height: 4.6vw;
    }
}
